<script setup>
import {ref} from 'vue';
import TableView from "@/components/TableView.vue";
import FormView from "@/components/FormView.vue";


const persons = ref([]);

function updateArray(newPersonsArray) {
  persons.value = newPersonsArray;
}

</script>

<template>
  <main>
    <div class="row">
      <form-view @update="updateArray" class="col-8"></form-view>
      <table-view :personArray="persons" class="col-4"></table-view>
    </div>
  </main>
</template>

<style scoped>
</style>
