<template>
    <header class="navbar bg-light">
        <div class="container-xxl">
            <div class="d-flex align-items-center justify-content-between flex-grow-1">
                <strong class="navbar-brand">Personenarray</strong>
                <nav>
                    <ul class="navbar-nav flex-row gap-3">
                        <li class="nav-item">
                            <RouterLink to="/" class="nav-link">Home</RouterLink>
                        </li>
                        <li class="nav-item">
                            <RouterLink to="/create" class="nav-link">Person erstellen</RouterLink>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container py-5">
        <RouterView/>
    </main>
</template>
