<template>
    <v-main>
        <NavigationComponent :class="getNavigationClasses()"/>

        <router-view/>
        <button v-if="displayButton"  class="toTopButton" @click="toTop">
        <v-icon icon="mdi-arrow-up-bold-circle-outline" size="50px"></v-icon>
    </button>
    </v-main>
</template>

<script setup>

import NavigationComponent from "@/components/NavigationComponent";
import {useRouter} from "vue-router";
import {computed, onMounted, onUnmounted, ref, watch} from "vue";

const displayButton = ref(false)
onMounted(async () => {
        window.addEventListener('scroll', scrollFunction);
    }
)
onUnmounted(() => {
        window.removeEventListener('scroll', scrollFunction);
    }
)

function toTop() {
    document.documentElement.scrollTop = 0
    document.body.scrollTop = 0
}

function scrollFunction() {
    if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
        displayButton.value = true
    } else {
        displayButton.value = false
    }
}

const router = useRouter()

const isHomeRoute = computed(() => {
    return router.currentRoute.value.path === '/'
})

function getNavigationClasses() {
    let classes = []
    if (isHomeRoute.value) {
        classes.push('overlay-nav-home')
    } else {

        classes.push('overlay-nav')

    }
    return classes
}

</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;700&display=swap');

.overlay-nav-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 700 ;
    font-weight: bold;
}

.overlay-nav {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 700 ;
    background: linear-gradient(0deg, #ffffff, #000000 95%)
}

.toTopButton {
    position: fixed;
    bottom: 30px;
    right: 40px;
    height: 50px;
    width: 50px;
    background-color: white;
    opacity: 0.5;
    border-radius: 100px;
}

.toTopButton:hover {
    opacity: 1;
}
</style>
