<template>
    <v-main class="d-flex align-center justify-center bg-secondary" >
        <v-card min-width="400" max-width="900">
            <router-view/>
        </v-card>
    </v-main>
</template>
