<template>
  <div class="container">
    <h3>Personendetails</h3>
    <div class="row">
      <div class="col-sm-4">
        <strong>Vorname</strong>
        <p id="firstName">{{ detailedPerson?.firstName }}</p>
      </div>
      <div class="col-sm-4">
        <strong>Nachname</strong>
        <p id="lastName">{{ detailedPerson?.lastName }}</p>
      </div>
      <div class="col-sm-4">
        <strong>Alter</strong>
        <p id="age">{{ age }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="btn btn-sm btn-warning" @click="isEditDialogVisible=true">Bearbeiten</button>
        <button type="button" class="btn btn-sm btn-danger" @click="deletePerson">
          Löschen
        </button>
      </div>
    </div>
    <CustomDialog v-model="isEditDialogVisible">
      <PersonForm :person="detailedPerson" @save="updatePerson"/>
    </CustomDialog>
  </div>
</template>

<script setup>

import {computed, ref} from "vue";
import CustomDialog from '@/components/CustomDialog.vue'
import PersonForm from '@/components/PersonForm.vue'
import {usePersonStore} from "@/stores/PersonStore";
import {useRoute} from "vue-router";
import {router} from "@/router";

const isEditDialogVisible = ref(false)

const route = useRoute();
const personStore = usePersonStore();
const personId = computed(() => parseInt(route.params.id));
const detailedPerson = computed(() => personStore.persons.find(person => person.id === personId.value));
const age = computed(() => new Date().getFullYear() - detailedPerson.value?.birthYear);


function deletePerson() {
  personStore.persons = personStore.persons.filter((person) => person.id !== personId.value);
  router.push('/');

}

function updatePerson(updatedPerson) {
  isEditDialogVisible.value = false
  let index =  personStore.persons.findIndex((person) => person.id === updatedPerson.id);
  personStore.persons[index] = {
    firstName: updatedPerson.firstName,
    lastName: updatedPerson.lastName,
    birthYear: updatedPerson.birthYear,
    id: updatedPerson.id
  }
}
</script>