<template>
  <br>
  <div class="container">
    <h5>Erwachsene </h5>

    <PersonTable :persons="oldPersons"></PersonTable>
  </div>

  <div class="container mt-5">
    <h5>Kinder und Jugendliche </h5>
    <PersonTable :persons="youngPersons">
    </PersonTable>


  </div>
</template>

<script setup>
import {usePersonStore} from "@/stores/PersonStore";
import {computed} from "vue";
import PersonTable from "@/components/PersonTable.vue";

const personStore = usePersonStore();
const oldPersons = computed(() => personStore.persons.filter(person => person.birthYear <= 2005));
const youngPersons = computed(() => personStore.persons.filter(person => person.birthYear > 2005));


</script>
