<template>
    <v-dialog v-model="showDialog" width="auto">
        <template v-slot:activator="{ props }">
            <button  v-bind="props" @click="showDialog = true" class="w-100">
                <div class="addPicture">
                    <v-icon size="60px" icon="mdi-plus-circle"></v-icon>
                </div>
            </button>
        </template>
        <slot/>
        <div>
            <ImageUploadComponent @addPicture="saveImage"/>
        </div>
    </v-dialog>
</template>

<script setup>
import {ref} from 'vue';
import {useImageStore} from "@/store/imageStore";
const imageStore = useImageStore()
const showDialog = ref(false);
import ImageUploadComponent from "@/components/ImageUploadComponent";
const emit = defineEmits(['saveImage'])
function saveImage(event){
    emit("saveImage", event)
    showDialog.value=false
}

</script>

<style scoped>
.addPicture{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 10px;
    border-radius: 10px;
}

.addPicture:hover{
    background-color: #9b9b9b;
}

</style>

