<template>
    <form @submit.prevent="emitAddress">
        <slot name="title"></slot>

        <v-select
            v-model="props.address.country"
            :items="countries"
            label="Wählen Sie ein Land aus"
            item-title="name"
            item-props
        >
            <template v-slot:item="slotProps">
                <v-list-item v-bind="slotProps.props">
                    <template #prepend>
                        <i :class="['mr-2', 'em', slotProps.item.props.flag]"></i>
                    </template>
                </v-list-item>
            </template>
        </v-select>
        <div class="address-search-container">
        <v-btn class="mb-3 text-center" rounded="xl" size="x-small" color="primary" @click="getPosition()" icon>
            <v-icon>mdi-map-marker</v-icon>
        </v-btn>
            <v-text-field :disabled="!props.address.country" id="addressInput1" type="text" @input="updateAddress"
                          label="Adresse suchen"/>
        </div>
        <v-text-field :disabled="!props.address.country" type="text" v-model="props.address.streetName" required variant="outlined" maxlength="100"
                          label="Straße"/>
            <v-text-field :disabled="!props.address.country" label="Hausnummer" type="text" required variant="outlined" maxlength="255"
                          autocomplete="street-number" v-model="props.address.streetNumber"/>
            <v-text-field :disabled="!props.address.country" label="Postleitzahl" type="number" required variant="outlined" min="0"
                          autocomplete="zip" v-model.number="props.address.zip"/>
            <v-text-field :disabled="!props.address.country" label="Stadt" type="text" required variant="outlined"
                          autocomplete="city" v-model="props.address.city"/>
            <slot name="action"></slot>
    </form>
    <v-snackbar v-model="showInvalidAddress" location="bottom end">
        Wählen Sie eine Adresse aus Deutschland, Österreich oder der Schweiz
    </v-snackbar>
</template>

<script setup>

import {computed, onMounted, ref} from "vue";
import {useAuthStore} from "@/store/authStore";
import {useAddressStore} from "@/store/addressStore";
import {Loader} from "@googlemaps/js-api-loader";
import {useGeolocation} from "@/use/useGeolocation";


let autocomplete;
let geocoder;
const showInvalidAddress = ref(false)
const geolocation = useGeolocation()
const mapsApiKey = 'AIzaSyCp0i8_XEfUwDiSvy8JvIPqOMqVLkoakFk'
const authStore = useAuthStore()
const loader = new Loader({
    apiKey: mapsApiKey,
    libraries: ['places']
})
const countries = [
    {
        name: "Österreich",
        flag: "em-flag-at",
        key: "at"
    },
    {
        name: "Deutschland",
        flag: "em-flag-de",
        key: 'de'
    },
    {
        name: "Schweiz",
        flag: "em-flag-ch",
        key: 'ch'
    }
];

const props = defineProps({
    address: {
        type: Object,
        default: () => {
        },
    }
})
const countryCode = computed(() => {
    if (props.address.country === "Österreich") {
        return "at";
    } else if (props.address.country === "Deutschland") {
        return "de";
    } else if (props.address.country === "Schweiz") {
        return "ch";
    } else {
        return "";
    }
});

const newaddress = computed(() => props.address)
const emits = defineEmits('update')
defineExpose({newaddress})

async function emitAddress() {
    let geocodeRequest = props.address.streetNumber + "+" + props.address.streetName + "+" + props.address.city + "+" + props.address.zip + "+" + props.address.country
    await geocoder.geocode({'address': geocodeRequest}, function (results, status) {
        if (status == 'OK') {
            props.address.latitude = results[0].geometry.location.lat().toFixed(5)
            props.address.longitude = results[0].geometry.location.lng().toFixed(5)
        } else {
            alert('Geocode was not successful for the following reason: ' + status);
        }
    });

    emits('update', props.address)
}

async function getPosition() {
    const allowedCountries = ["AT", "DE", "CH"]
    const {coordinates} = geolocation
    const currentPos = {
        lat: coordinates.value.latitude,
        lng: coordinates.value.longitude
    }

    await geocoder.geocode({'location': currentPos}, function (results, status) {
        if (status == 'OK') {
            let result = results[0]
            for (const component of result.address_components) {

                const componentType = component.types[0];

                switch (componentType) {
                    case "country":
                    if (!allowedCountries.includes(component.short_name)) {
                        showInvalidAddress.value = true
                        return
                    } else
                        props.address.country = component.long_name;
                        break;

                    case "street_number": {
                        props.address.streetNumber = component.long_name;
                        break;
                    }

                    case "route": {
                        props.address.streetName = component.long_name;
                        break;
                    }

                    case "postal_code": {
                        props.address.zip = component.long_name;
                        break;
                    }

                    case "locality":
                        props.address.city = component.long_name;
                        break;

                }
            }


        } else {
            alert('Geocode was not successful for the following reason: ' + status);
        }
    });

}

function fillInAddress() {
    if (!autocomplete || !autocomplete.getPlace) {
        return;
    }
    setTimeout(() => {
        let place = autocomplete.getPlace();

        for (const component of place.address_components) {

            const componentType = component.types[0];

            switch (componentType) {
                case "street_number": {
                    props.address.streetNumber = component.long_name;
                    break;
                }

                case "route": {
                    props.address.streetName = component.long_name;
                    break;
                }

                case "postal_code": {
                    props.address.zip = component.long_name;
                    break;
                }

                case "locality":
                    props.address.city = component.long_name;
                    break;

                case "country":
                    props.address.country = component.long_name;
                    break;
            }
        }

    }, 100)
}

function updateAddress() {
    let input = document.getElementById("addressInput");
    const request = {
        componentRestrictions: {country: countryCode.value},
        fields: ["address_components", "geometry"],
        types: ["address"],
    };
    autocomplete = new google.maps.places.Autocomplete(input, request)
    autocomplete.addListener("place_changed", fillInAddress);
}

onMounted(async () => {
    await loader.load()
    geocoder = new google.maps.Geocoder();

});

</script>

<style scoped>
.address-search-container {
    display: flex;
    align-items: center;
}

.address-search-container .v-btn {
    margin-right: 8px;
}
</style>
