<template>
    <div class="chatmenu">
        <v-menu offset-y>
            <template v-slot:activator="{props}">
                <VBtn class="chatButton" icon="mdi-message-reply-text-outline" v-bind="props"/>
            </template>
            <v-list>
                <v-list-item
                    v-for="(chat, index) in messageStore.chats"
                    :key="index"
                >
                    <v-btn @click="setChatId(chat)">{{chat.withName}}</v-btn>
                </v-list-item>
            </v-list>
        </v-menu>
    </div>
</template>

<script setup>
import {ref} from "vue";
import {useMessageStore} from "@/store/messageStore";
const show = ref(false)
const messageStore = useMessageStore()

function setChatId (chat){
    messageStore.activeChat=chat
}
</script>


<style>
.chatmenu{
    position: fixed;
    bottom: 100px;
    right: 40px;
}
.chatButton {
    border: 1px solid black;
    background-color: white;
    border-radius: 999px;
    height: 70px;
    width: 70px;
}
</style>
