<template>
    <div class="chatwindow">
        <div class="chatheader">
            <div>
                {{ chat.withName }}
            </div>
            <button  @click="messageStore.activeChat=null"><v-icon icon="mdi-window-close"/></button>

        </div>
        <div class="chatbody" ref="chatBody">
            <div class="messagebody" v-for="message in chat.messages">

                <div :class="[message.senderId==authStore.user.userId ? 'mymessage':'guestmessage']">
                    <!--                    <div class="chip">-->
                    <!--                        {{ message.senderId == authstore.user.userId ? 'Ich' : message.senderName }}-->
                    <!--                    </div>-->
                    <div class="messagecontent">
                        {{ message.content }}
                        <div class="date">
                            {{
                                new Date(message.timestamp).toLocaleString('de-DE', {
                                    dateStyle: 'short',
                                    timeStyle: 'short'
                                })
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chatinput">
            <v-text-field placeholder="Enter Message" type="text" v-model="chat.myMessage">
                <template v-slot:append>
                    <v-icon icon="mdi-email-fast-outline"
                            @click="sendMessage({chatId: chat.chatId, recipientId:chat.withId, myMessage:chat.myMessage}); chat.myMessage=''"
                    ></v-icon>
                </template>
            </v-text-field>

        </div>
    </div>
</template>

<script setup>
import {useAuthStore} from "@/store/authStore";
import {nextTick, onMounted, ref, watch} from "vue";
import {useMessageStore} from "@/store/messageStore";
const messageStore = useMessageStore()
const authStore = useAuthStore()
const props = defineProps(['chat'])
const emit = defineEmits(['sendMessage'])
const chatBody = ref(null);

onMounted(()=>
scrollToBottom())

watch(props.chat.messages, async () => {
    await nextTick();
    scrollToBottom();
    // addclasslist
    // chatBody.value.add
    // setTimeout(() => {
    //     shouldFadeBackground.value = false;
    // }, 1000);
}, { deep: true })

async function sendMessage(messageObject) {
    if (messageObject.myMessage != '') {
        await messageStore.sendMessage(messageObject)
    }
}



function scrollToBottom() {
    if (chatBody.value) {
        chatBody.value.scrollTop = chatBody.value.scrollHeight;
    }
}
</script>

<style scoped>



.chatwindow {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;
}

.chatheader {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px;
    background-color: #0f4d6b;
}

.chatbody {
    padding: 5px;
    overflow: auto;
    height: 270px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.messagebody {
    display: flex;
    flex-direction: column;
}

.chip {
    display: inline-flex;
    font-size: 8px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 6px;
    padding: 3px;
    height: 14px;
}

.guestmessage {
    display: flex;
    justify-content: start;
    background-color: #79bae5;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 5px;
    margin-right: 40px;
    padding: 5px;
}

.mymessage {
    display: flex;
    justify-content: end;
    background-color: #84cb79;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 5px;
    margin-left: 40px;
    padding: 5px;
}

.messagecontent {
    display: flex;
}

.date {
    color: #5b5b5b;
    margin: 4px 0 0 4px;
    display: flex;
    align-items: end;
    font-size: 8px;
}

.chatinput {
    width: 100%;
    display: flex;
    padding: 5px;
    align-items: center;
    position: absolute;
    bottom: 0;
}


</style>
