<template>
    <div class="companyBody">
        <div class="companyHeader">
            <img class="companyImage" :src="imageStore.getImage(company.companyDto.companyProfileUrl).value">
            <div class="companyHeaderContent">
                <h2>
                    {{ company.companyDto.companyName }}
                </h2>
                <div v-if="!!company.companyRating" class="companyHeaderRating">
                    <div class="d-flex">
                        <v-icon icon="mdi-star"/>
                        <p><span> {{ company.companyRating.toFixed(1) }}</span>/5</p>
                    </div>
                    <span style="font-weight: normal">({{ company.numberOfRatings }} Bewertungen)</span>
                </div>

                <div v-else class="profileHeaderRating">
                    <p> Noch keine Bewertungen</p>
                </div>
                <button :href="'http:://'+company.companyDto.homepage">
                    {{ company.companyDto.homepage }}
                </button>

            </div>
        </div>
        <div>
            Platz für beschreibung
        </div>
        <div>
            <v-btn  :to="'/company/'+company.companyDto.companyId">zum profil</v-btn>
        </div>

        <div class="lastRatingBody" v-if="company.projectOfLastRating">
            <v-row style="border-bottom: 1px solid black">
                <v-col cols="2">
                    <v-icon icon="mdi-message-bookmark-outline"/>
                </v-col>
                <v-col cols="10">
                    <div >
                        <p style="line-height: 1.2">
                            Letzte Bewertung:<br>
                            <b>{{ company.projectOfLastRating.projectName }}</b>
                            <span style="color: #777777; font-size: 12px"> - {{ new Date(company.lastRatingForCompany.createdAt).toLocaleDateString("de-DE", options) }}</span>
                        </p>
                    </div>
                </v-col>
            </v-row>
            <v-row>
                <v-col col="12">
                    <span style="font-style: italic; font-weight: normal">"{{ company.lastRatingForCompany.ratingText }}"</span>
                </v-col>
            </v-row>

        </div>
    </div>

</template>

<script setup>
import {useImageStore} from "@/store/imageStore"

const imageStore = useImageStore()
const props = defineProps(['company'])

</script>

<style scoped lang="scss">


.companyBody {
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(0deg,#ffffff ,#00326d 70% );
    height: 100%;
}

/*.companyBody:hover {*/
/*    background-color: #444444;*/
/*}*/


.companyHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    margin-bottom: 20px;

}

.companyHeaderContent {

}

.companyHeaderRating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

span {
    font-weight: bolder;
}

.companyHeaderRating > * {
    margin: 5px 3px;
}

.companyImage {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 999px;
    margin-right: 20px;
}
.lastRatingBody{
    margin-top: 15px;
    padding: 5px 20px 5px;
    border: 1px solid rgba(128, 128, 128, 0.32);
    border-top: none;
    border-radius: 0  0 10px 10px ;
}
</style>
