<template>
    <div class="body">
        <h3>Von: </h3>
        <h4>
            {{ rating.byFirstName }} {{ rating.byLastName }}
        </h4>
        <div class="ratingPlusTime">
            <v-rating readonly :model-value="rating.rating"></v-rating>
            <p>am {{ new Date(props.rating.createdAt).toLocaleDateString("de-DE", options) }}</p>
        </div>
        <p class="ratingText">"{{ rating.ratingText }}"</p>
    </div>
</template>

<script setup>
import {ref} from "vue";

const props = defineProps(['rating'])
const options = ref({day: "2-digit", month: "2-digit", year: "numeric"})

</script>

<style scoped>
.body {
    margin: 20px 20px;
    border-bottom: 1px solid black;
}

.ratingPlusTime {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.ratingText {
    padding: 0px 10px 20px 20px;
}

h4 {
    margin-left: 10px;
    margin-top: 10px;
}
</style>
