<template>
        <v-dialog v-model="model">
            <v-card>
                <v-card-title>
                    <slot/>
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="green-darken-1"
                        variant="text"
                        @click=" "
                    >
                        Disagree
                    </v-btn>
                    <v-btn
                        color="green-darken-1"
                        variant="text"
                        @click="model=false"
                    >
                        Agree
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
</template>

<script setup>
import {computed, ref} from "vue";



function closeDialog() {
    emit('update:modelValue', false)
}

const props = defineProps(['modelValue'])
const emit = defineEmits(['update:modelValue'])

const model = computed({
    get:()=>props.modelValue,
    set:value=>emit('update:modelValue', value)
})



</script>
