<template>
    <v-dialog v-model="showCreateProjectDialog" max-width="800">
        <template v-slot:activator="{ props }">
            <v-card
                class="mx-5"
                width="230"
                height="383"
                v-bind="props"
                @click="showCreateProjectDialog = true"
            >
                <v-img
                    src="../assets/hinzufugen.png"
                    cover
                ></v-img>

                <v-card-title class="d-flex align-center justify-center">
                    Neuen Auftrag anlegen
                </v-card-title>
            </v-card>
        </template>
        <v-card class="text-center">
            <v-card-title>Auftrag erstellen</v-card-title>
            <v-card-item>
                <v-row>
                    <v-col cols="12" md="6">
                        <h3 class="ma-4">Auftragsdetails</h3>

                        <v-text-field label="Auftragsname" type="text" maxlength="50" required variant="outlined"
                                      v-model="project.projectName"/>
                        <v-text-field label="Beschreibung" type="text" maxlength="255" required variant="outlined"
                                      v-model="project.projectText"/>

                        <v-combobox
                            v-model="project.trades"
                            :items="tradeStore.trades"
                            label="Bereich"
                            chips
                            closable-chips
                            multiple
                        ></v-combobox>

                                <v-slider
                                    min="1"
                                    v-model="project.searchRadius"
                                    thumb-label
                                    :steps="stepCounter"
                                    max="1000"
                                    class="ma-4"
                                ></v-slider>
                        <v-switch v-if="addressStore.address" color="primary" v-model="switchValue" :label="switchLabel"></v-switch>
                        <address-component class="mb-5" ref="child" v-if="switchValue" :address="address" @update="putAddress">
                            <template v-slot:title>
                                <h3 class="ma-4">Adresse</h3>

                            </template>
                            <template v-slot:action>
                            <v-btn type="submit" color="primary" block class="mb-8">Adresse anlegen</v-btn>
                        </template>
                        </address-component>
                    </v-col>
                    <v-col
                        cols="12"
                        md="6"
                        class="d-flex align-stretch">

                        <div  class="imageList flex-grow-1">
                        <div class="imageList__scrollcontainer">
                            <h3 class="ma-4">Bilder</h3>

                            <v-btn @click="imageInputs+=1"  class="mb-1" block>Bilder hinzufügen</v-btn>
                            <image-upload-component
                                v-for="i in imageInputs"
                                :label="'Projektbild'"
                                @addPicture="addPicture($event, i-1)"></image-upload-component>
                        </div>
                        </div>
                    </v-col>
                </v-row>
                        <v-row justify="center" class="ma-6">
                            <v-btn class="mx-1" color="primary" @click="createProject()">Bestätigen</v-btn>
                            <v-btn class="mx-1" color="yellow" @click="showCreateProjectDialog=false">Abbrechen</v-btn>
                        </v-row>
            </v-card-item>
        </v-card>
    </v-dialog>
    <v-snackbar v-model="showAddressConfirmation" location="bottom end">
        Adresse erfolgreich angelegt
    </v-snackbar>

</template>

<script setup>
import {computed, ref, toRaw} from "vue";
import {useTradeStore} from "@/store/tradeStore";
import ImageUploadComponent from "@/components/ImageUploadComponent"
import AddressComponent from "@/components/AddressComponent.vue";
import {useAddressStore} from "@/store/addressStore";
import {useAuthStore} from "@/store/authStore";

const showCreateProjectDialog = ref(false)
const showAddressConfirmation = ref(false)
const child = ref(null)
const addressStore = useAddressStore()
const tradeStore = useTradeStore()
const authStore = useAuthStore()
const emit = defineEmits(['emitProject', 'uploadImages'])
const isNewAddress = computed(() => !addressStore.address)
const switchValue = ref(isNewAddress.value);
const switchLabel = computed(() => {
    return switchValue.value ?  'Neue Adresse wählen' : 'Stammadresse wählen';
});

function putAddress(newAddress) {
    address.value = newAddress;
    address.value.primaryAddress=false
    address.value.userId = authStore.user.userId

    showAddressConfirmation.value=true
}

const address = ref({
    streetName: null,
    streetNumber: null,
    zip: null,
    city: null,
    country: null,
    latitude: null,
    longitude: null,
})

const project = ref({
    searchRadius: 1})
const images = ref([])

const imageInputs = ref(0)

const stepCounter = computed(()=>  {
    if(project.value?.searchRadius <= 10) {
        return 1
    } else if(project.value?.searchRadius <= 50) {
        return 2
    } else if(project.value?.searchRadius <= 100) {
        return 5
    } else if(project.value?.searchRadius <= 200) {
        return 10
    } else if(project.value?.searchRadius <= 500) {
        return 50
    }
})

console.log(stepCounter.value)

function createProject() {


    if (!switchValue.value) {
        project.value.addressId = addressStore.address.addressId
        emit('emitProject', toRaw(project.value), images.value)
    } else {

        emit('emitProject', toRaw(project.value), images.value, address.value)

    }
        project.value = {searchRadius: 1}
    address.value = {
        streetName: null,
        streetNumber: null,
        zip: null,
        city: null,
        country: null,
        latitude: null,
        longitude: null,
    }
        showCreateProjectDialog.value = false

}

function addPicture(image, i) {
    images.value[i] = image
}


</script>

<style scoped lang="scss">
//hier wird das SCSS in variables importiert und entfernt den präfix variables (scheißerklärung)
@use "@/assets/styles/variables.scss" as *;
//Utiliy klasse aus dem Key-value Store
@use "sass:map";

.flex {
    display: flex;
    flex-wrap: wrap;
}

.imageList {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.imageList__scrollcontainer {
    flex-grow: 1;
    height: auto;

    @media (min-width: map.get($grid-breakpoints, md)) {
        height: 0;
        padding-right: 16px;
        overflow-y: auto;
    }
}

</style>
