<template>
    <v-dialog v-model="showDialog" width="auto">
        <template v-slot:activator="{ props }">
            <button  v-bind="props" @click="showDialog = true" class="w-100">
                <v-icon icon="mdi-pencil-circle" size="40px"/>
            </button>
        </template>
        <slot/>
        <div>
            <ImageUploadComponent @addPicture="saveImage"/>
        </div>
    </v-dialog>
</template>

<script setup>
import {ref} from 'vue';
import {useImageStore} from "@/store/imageStore";
const imageStore = useImageStore()
const showDialog = ref(false);
import ImageUploadComponent from "@/components/ImageUploadComponent";
const emit = defineEmits(['saveImage'])
function saveImage(event){
    if(confirm('Profilbild Ändern?')) {
        emit("saveImage", event)
        showDialog.value = false
    }
}

</script>

<style scoped>


</style>

