<template>
    <v-dialog v-model="showDialog" width="auto">
        <template v-slot:activator="{ props }">
            <button  v-bind="props" @click="showDialog = true" class="w-100 smallbutton">
                <div>
                    <img class="pictureSmall" :src="imageStore.getImage(imageUrl).value" >
                    <div  v-if="canEdit" class="overlay">
                        <button @click.stop="deleteImage">
                            <v-icon icon="mdi-trash-can-outline"/>
                        </button>
                    </div>
                </div>
            </button>
        </template>
        <slot/>
        <img class="pictureBig" :src="imageStore.getImage(imageUrl).value" >
    </v-dialog>
</template>

<script setup>
import {ref} from 'vue';
import {useImageStore} from "@/store/imageStore";
const props= defineProps(['imageUrl', 'canEdit'])
const  imageStore = useImageStore()
const showDialog = ref(false);
const emit = defineEmits(['deleteImage'])
function deleteImage(){
    if (confirm('Bild Löschen?')){
        emit("deleteImage", props.imageUrl)
    }
}
</script>

<style scoped>
.pictureSmall{
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 10px;
}
.pictureBig{
    max-height: 80vh;
    max-width: 80vw;
}
.smallbutton{
    position: relative;
}
.overlay {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px 0 10px 0;
    bottom: 0px;
    right: 0px;
    background-color: rgba(176, 176, 176, 0.7);
}


</style>

