<template>
        <v-row>
            <v-col cols="3">
                <div class="d-flex justify-center">
                    <v-img class="image" :src="imageSrc"></v-img>
                </div>
            </v-col>
            <v-col cols="9">
            <v-file-input :label="label" style="overflow: auto" @change="saveImg" type="file" accept="image/*" />
            </v-col>
        </v-row>
</template>

<script setup>
import { ref} from "vue"
const emit = defineEmits(["addPicture"])
const props = defineProps(["index", "label"])

const img = ref()
const imageSrc = ref()

function saveImg(event){
    const file = event.target.files[0]
    const formData = new FormData
    formData.append("file", file)
    img.value=props.index
    emit("addPicture",formData)
    imageSrc.value=URL.createObjectURL(file)
}

</script>

<style scoped>
.flex{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.image{
    height: 56px;
    width: 56px;
}
.v-row{
    background-color: white;
}
</style>
