<template>
<v-col
cols="12"
sm="4">
    <p>
        {{ number }} <br>
        <span>
            {{ name }}
        </span>
    </p>
</v-col>
</template>
<script setup>
defineProps(['name', 'number'])

</script>

<style scoped>

p {
    padding: 50px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #23b4dd;
}

span {
    font-size: 30px;
    color: #00326d;

}
</style>
