<template>
    <v-col cols="12"
    sm="4">
        <v-card
        >
            <v-carousel
                v-if="testimonial.projectDto.imageUrlDtoList.length"
                show-arrows="hover"
                style="height: 250px"
                delimiter-icon="mdi-square"
                hide-delimiters
                progress
            >

                <v-carousel-item
                    v-for="imageUrl in testimonial.projectDto.imageUrlDtoList"
                >
                    <v-img class= "srcImg" :src="imageStore.getImage(imageUrl.imageUrl).value">
                        <v-card-title class="img-title">{{imageUrl.beforeAfter}}</v-card-title>
                    </v-img>
                </v-carousel-item>
            </v-carousel>
            <div class="cardheader">
                <v-card-title>{{testimonial.projectDto.projectName}}</v-card-title>
                <v-card-subtitle>
                    <v-rating
                        :model-value="testimonial.rating"
                        color="amber"
                        density="compact"
                        half-increments
                        readonly
                        size="small"
                    ></v-rating>
                </v-card-subtitle>

            </div>
<!--            <v-card-subtitle>-->

<!--            </v-card-subtitle>-->

            <v-card-text>
                <div>
                    " {{testimonial.ratingText}} "
                </div>
            </v-card-text>
            <v-container>
                <h4> Durchgeführt von <a href="">{{testimonial.testimonialCompanyDto.companyName}}</a> </h4>
                <div class="flex">
                    <v-rating
                        :model-value="testimonial.testimonialCompanyDto.companyScore"
                        color="amber"
                        density="compact"
                        half-increments
                        readonly
                        size="small"
                    ></v-rating> <h5>({{testimonial.testimonialCompanyDto.companyScoreNumber}})</h5>
                </div>

            </v-container>


<!--hier können aktionen her-->
<!--            <v-card-actions>-->
<!--              -->
<!--            </v-card-actions>-->
        </v-card>
    </v-col>
</template>

<script setup>
const props = defineProps(["testimonial"])
import {useImageStore} from "@/store/imageStore";
const imageStore = useImageStore()

</script>

<style scoped>
.cardheader{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.v-rating{
    margin-right: 10px;
}
.v-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex{
    display: flex;
    align-items: center;
}

.img-title{
    background-color: rgba(143, 143, 143, 0.25);
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}
</style>
