<template>
    <v-col
        cols="12"
        sm="4">
        <div class="flexBox">
            <h1>{{ number }}</h1>
            <div class="text">
                <h4>{{ title }}</h4>
                <p>{{ text }}</p>
            </div>
        </div>
    </v-col>
</template>

<script setup>
defineProps(["title", "text", "number"])
</script>

<style scoped>


.flexBox{
    display: flex;
}
h1{
    margin: 0 20px;
    color: #24bfa3;
    font-weight: bolder;
    font-size: 80px;
}
h4{
    color: #ffffff;
    font-size: 20px;
}
p{
    color: white;
    margin-left: 5px;
    font-style: italic;
}
.text{
    margin-top: 18px;
}

</style>
