<template>
    <v-col
        cols="12"
        sm="4">
        <h1>
            {{ headerText }}
        </h1>
        <img class="bannerImg"
             :src="imgUrl"
             alt="">
        <div class="flexBox">
            <v-icon :icon="'mdi-'+iconName" size="x-large"/>
            <h3>{{ trade }}</h3>
        </div>
        <div class="breaker">
        </div>
        <div class="flexBox">
            <div class="flexBoxAlign">
                <img class="profileImg"
                     :src="imageStore.getImage(profileUrls[0]).value"
                     alt="">
                <img class="profileImg"
                     :src="imageStore.getImage(profileUrls[1]).value"
                     alt=""></div>
            <p>Finden Sie den richtigen Handwerker:<br><strong>{{ totalNumber }} {{ workerName }}</strong> <span>in Österreich</span>
            </p>
        </div>
        <div class="flexBox link" >
            <v-icon icon="mdi-arrow-down-right"/>
            <router-link :to="'/companies/'+trade">{{ workerName }} anzeigen</router-link>
        </div>
    </v-col>

</template>

<script setup>
defineProps(['imgUrl', 'headerText', 'iconName', 'trade', 'totalNumber', 'workerName', 'profileUrls'])
import {useImageStore} from "@/store/imageStore";
const imageStore = useImageStore()
</script>

<style scoped>

h1 {
    margin-bottom: 0.5rem;
}

.link{
    color:purple;
}
.link:hover{
 cursor: pointer;
    color:blue;
}

.flexBox {
    display: flex;
    padding-bottom: 10px;
}

.flexBoxAlign {
    margin-right: 0.75rem;
    display: flex;
    flex-direction: column;
}

:deep(.v-icon) {
    margin: 0 10px;
}

.breaker {
    margin-top: 0.5rem;
    padding: 1rem 0 ;
    border-top: 1px solid #E6E6E6;
}

.bannerImg {
    object-fit: none;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 0.5rem;
}

.profileImg {
    object-fit: cover;
    margin-top: -20px;
    width: 3.5rem;
    height: 3.5rem;
    contain: size layout;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    border-radius: 9999px;
    border: 3px solid white;
}
</style>
