<template>
    <v-card
        class="mx-auto"
        max-width="344"
    >
        <v-carousel v-if="offer.project.imageUrlDtoList.length" show-arrows="hover" style="height: 250px">
            <v-carousel-item v-for="imageUrl in offer.project.imageUrlDtoList"

            >
                <img class= "srcImg" :src="imageStore.getImage(imageUrl.imageUrl).value">
            </v-carousel-item>
        </v-carousel>
        <div v-else>
            No Images found
        </div>
        <v-card-title>
            {{ offer.project.projectName }}
            <v-chip color="blue" v-if="!offer.offer.accepted&&!offer.offer.rejected">Warten auf Antwort</v-chip>
            <div class="chip" v-if="offer.offer.accepted&&!offer.offer.confirmed">
                <v-chip color="purple" >Angenommen</v-chip>
                <v-btn class="confirmButton"  @click="confirmOffer">Bestätigen?</v-btn>
            </div>
            <div v-if="offer.offer.confirmed&&!offer.offer.rejected">
                <v-chip color="green" >Bestätigt</v-chip>
                <v-btn @click="createChatroom(offer)">Kunde Kontaktieren</v-btn>
            </div>
            <div class ="chip" v-if="offer.offer.rejected">
            <v-chip color="red">Angebot abgelehnt</v-chip>
            <v-btn color="red"  class="confirmButton" @click="deleteOffer">Löschen?</v-btn>
            </div>
        </v-card-title>

        <v-card-subtitle>
            Angebot: €{{ offer.offer.price }}<br>
            Kommentar: {{ offer.offer.offerText }}<br>
        </v-card-subtitle>
        <v-card-text v-if="directionsData"><b>
            Distanz: {{directionsData?.distance.text}}<br>
            Fahrdauer: {{directionsData?.duration.text}}
        </b>
        </v-card-text>


        <v-card-actions>
            <v-btn color="red" @click="showReportDialog=true"  class="ml-0">Auftrag
                melden
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
                :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'"
                @click="show = !show"
            ></v-btn>
        </v-card-actions>

        <v-expand-transition>

            <div v-show="show">
                <v-divider></v-divider>
                <v-card-text style="height: 200px; overflow: auto">
                    {{ offer.project.projectText }}
                </v-card-text>
            </div>

        </v-expand-transition>
    </v-card>
    <report-dialog @confirmReport="sendReport" v-model="showReportDialog">
        <h2 class="ma-4">Projekt melden</h2>

    </report-dialog>
    <v-snackbar v-model="reported" location="bottom end">
        Angebot gemeldet
    </v-snackbar>
    <v-snackbar v-model="reportedFailed" location="bottom end">
        Fehler! Sie haben das Projekt bereits gemeldet.
    </v-snackbar>

</template>

<script setup>
import {ref} from "vue";
import OfferDialog from "@/components/OfferDialog";
import {useOfferStore} from "@/store/offerStore";
import {useImageStore} from "@/store/imageStore";
import {useAuthStore} from "@/store/authStore";
import {useMessageStore} from "@/store/messageStore";
import {isAxiosError} from "axios";
import {useReportStore} from "@/store/reportStore";
import ReportDialog from "@/components/ReportDialog.vue";
const authStore = useAuthStore()
const reportedFailed = ref(false)
const reported = ref(false)
const imageStore = useImageStore()
const reportStore = useReportStore()
const reportedProject = ref({})
const offerStore = useOfferStore()
const showReportDialog = ref(false)
const messageStore = useMessageStore()
const emits = defineEmits(['action'])

const props = defineProps(["offer", 'directionsData'])

const show = ref(false)

async function confirmOffer(){
   props.offer.offer.confirmed=true
    await offerStore.updateOffer(props.offer.offer)
    // emits('action')
}

async function deleteOffer() {
    await offerStore.deleteOffer(props.offer.offer)
    await offerStore.getOffersForCompany()
    emits('action')
}

async function createChatroom(offer){
    const userIdArray= [authStore.user.userId, offer.project.userId]
    const chatIdString = Math.min(...userIdArray)+'_'+Math.max(...userIdArray)
    const chat = messageStore.chats.find(chat=>chat.chatIdString==chatIdString)
    if (!!chat){
        messageStore.activeChat=chat
    }
    else{
        messageStore.createChatroom({offerId:offer.offer.offerId})
    }
}

async function sendReport(report) {
    try {
        reportedProject.value.reportedProjectId = props.offer.project.projectId
        reportedProject.value.reportText = report.value.reportText
        await reportStore.reportOffer(reportedProject.value)
        await offerStore.deleteOffer(props.offer.offer)
        reported.value = true
    } catch (err) {
        console.log("nein")

        if (isAxiosError(err) && err.response?.status === 403) {
            return reportedFailed.value = true
        }
    }
    emits('action')
}

</script>

<style scoped>

.v-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.srcImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.chip{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.confirmButton{
    background-color: #0077c2;
    color: #ffffff;
    margin: 5px 0px;
}

.subtitle-container {
    max-height: 65px;
    min-height: 65px;
    overflow: auto;
}

</style>
