<template>
    <div class="background">
        <v-container>
            <v-toolbar :collapse="mobile" :elevation="0" class="white nav">
                <v-app-bar-title>
                    KWOTE
                </v-app-bar-title>
                <v-toolbar-items v-if="!mobile">
                    <v-btn to="/">Home</v-btn>
                    <template v-if="authStore.isLoggedIn">
                        <template v-if="authStore.isCompany">
                        <v-btn :to="'/user/'+authStore.user.userId">Mein Profil</v-btn>
                            <v-btn v-if="authStore.user.role==='COMPANY'" :to="'/company/'+companyStore.company.companyId">Meine FirmenSeite</v-btn>
                            <v-btn to="/company/open-projects">Offene Projekte</v-btn>
                        <v-btn to="/company/map">Map</v-btn>
                        <v-btn to="/company/my-offers">Meine Angebote</v-btn>
                    </template>

                        <template v-if="authStore.isUser">
                            <v-btn :to="'/user/'+authStore.user.userId">Mein Profil</v-btn>
                            <v-btn to="/user/my-projects">Meine Projekte</v-btn>
                            <v-btn to="/user/map">Map</v-btn>
                        </template>

                        <template v-if="authStore.isAdmin">
                            <v-btn to="/admin/reports">Meldungen</v-btn>
                        </template>

                        <v-btn @click="router.push('/');authStore.logout();" class="white">Logout</v-btn>
                    </template>

                    <template v-else>
                        <v-btn to="/login">Login</v-btn>
                        <v-btn to="/register">Registrieren</v-btn>
                    </template>
                </v-toolbar-items>
                <v-toolbar-items v-else>
                    <v-menu offset-y>
                        <template v-slot:activator="{props}">
                            <VBtn icon="mdi-menu" v-bind="props"/>
                        </template>
                        <v-list>
                            <v-btn to="/">Home</v-btn>

                            <template v-if="authStore.isLoggedIn">


                                <template v-if="authStore.isCompany">
                                    <v-btn :to="'/user/'+authStore.user.userId">Mein Profil</v-btn>
                                    <v-btn v-if="authStore.user.role==='COMPANY'" :to="'/company/'+companyStore.company.companyId">Meine FirmenSeite</v-btn>
                                    <v-btn to="/company/open-projects">Offene Projekte</v-btn>
                                    <v-btn to="/company/map">Map</v-btn>
                                    <v-btn to="/company/my-offers">Meine Angebote</v-btn>
                                </template>

                                <template v-if="authStore.isUser">
                                    <v-btn :to="'/user/'+authStore.user.userId">Mein Profil</v-btn>
                                    <v-btn to="/user/my-projects">Meine Projekte</v-btn>
                                    <v-btn to="/user/map">Map</v-btn>
                                </template>

                                <template v-if="authStore.isAdmin">
                                    <v-btn to="/admin/reports">Meldungen</v-btn>
                                </template>
                                <v-btn @click="router.push('/');authStore.logout();" class="white">Logout</v-btn>
                            </template>

                            <template v-else>
                                <v-btn to="/login">Login</v-btn>
                                <v-btn to="/register">Registrieren</v-btn>
                            </template>
                        </v-list>
                    </v-menu>

                </v-toolbar-items>
            </v-toolbar>
        </v-container>

        <ChatMenuComponent v-if="messageStore.chats.length>0"/>
        <ChatWindowComponent v-if="messageStore.activeChat" :chat="messageStore.activeChat"/>
    </div>
</template>
<script setup>

import {useAuthStore} from '@/store/authStore'

const authStore = useAuthStore()
import {useRouter} from "vue-router";
import {computed, onMounted, onUnmounted, ref} from "vue";
import {useDisplay} from "vuetify";
import ChatMenuComponent from "@/components/ChatMenuComponent.vue";
import {useMessageStore} from "@/store/messageStore";
import ChatWindowComponent from "@/components/ChatWindowComponent.vue";
import {useCompanyStore} from "@/store/companyStore";
const companyStore = useCompanyStore()
const messageStore = useMessageStore()
const router = useRouter()
const isHomeRoute = computed(() => {
    return router.currentRoute.value.path !== '/'
})
const {mobile} = useDisplay()

</script>

<style scoped>
.white {
    color: white !important;
    text-shadow: 1px 1px black;
    background: transparent;
}

.nav :deep(*) {
    font-weight: bold !important;
}


</style>
