<template>
    <v-dialog v-model="dialog" width="auto">
        <template v-slot:activator="{ props }">

            <v-btn block
                   :color="accepted && confirmed ? 'green darken-4' : (accepted && !confirmed ? 'blue' : (!accepted && !confirmed ? 'yellow' : 'default'))"
                   @click="dialog=true">
                Angebot: {{ price }}€
                <template v-slot:append>
                    <v-icon v-if="confirmed" color="green-darken-4" size="35">mdi-hand-okay</v-icon>
                </template>
            </v-btn>
        </template>
        <slot/>
        <v-card>
            <div class="d-flex justify-end">
                <div>
                <v-icon @click="showReportDialog=true">mdi-alert-octagon</v-icon>

                <v-tooltip
                    activator="parent"
                    location="end"
                >Angebot melden
                </v-tooltip>
                </div>

                <v-icon @click="dialog = false">mdi-close</v-icon>
            </div>
            <v-card-title>Firma {{ props.offer.companyDto.companyName }}
<!--                <v-rating-->
<!--                    v-model="props.offer.companyDto.companyScore"-->
<!--                    bg-color="orange-lighten-1"-->
<!--                    color="yellow"-->
<!--                    density="compact"-->
<!--                ></v-rating>-->
            </v-card-title>
            <v-card-text>
                <v-text-field variant="outlined" type="text" label="Preis"  readonly v-model="props.offer.price"/>
                <v-text-field variant="outlined" type="text" label="Details" readonly v-model="props.offer.offerText"/>
            </v-card-text>
            <v-card-actions>
                <v-btn v-if="!isOfferReported" color="green" text @click="updateOffer">Angebot akzeptieren</v-btn>
                <v-btn v-if="isOfferReported" color="#E65100" text disabled>Angebot gemeldet</v-btn>
                <v-btn color="red" text @click="declineOffer">Angebot ablehnen</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <report-dialog @confirmReport="sendReport" v-model="showReportDialog">
        <v-card-title>
        Angebot melden
    </v-card-title>
    </report-dialog>

    <v-snackbar v-model="offerAccepted" location="bottom end">
        Angebot angenommen, warten auf Bestätigung
    </v-snackbar>
    <v-snackbar v-model="reported" location="bottom end">
        Angebot gemeldet
    </v-snackbar>
    <v-snackbar v-model="reportedFailed" location="bottom end">
        Fehler! Sie haben das Angebot bereits gemeldet.
    </v-snackbar>
</template>

<script setup>
import {computed, ref, toRaw} from 'vue';
import axios, {isAxiosError} from "axios";
import {useReportStore} from "@/store/reportStore";
import ReportDialog from "@/components/ReportDialog";

const showReportDialog = ref(false)

const props = defineProps({
    offer: {
        type: Object,
        required: true,
    },
});
const price = ref(props.offer.price)
const accepted = ref(props.offer.accepted)
const confirmed = ref(props.offer.confirmed)
const offerAccepted = ref(false)
const reportOffer = ref({})
const reportStore = useReportStore()
const reported = ref(false)
const reportedFailed = ref(false)


const emit = defineEmits(['offer'])


const isOfferReported = computed(() => {
    return reportStore.reports.some(obj => obj.reportedOffer.offerId == props.offer.offerId);
});

// console.log(isOfferReported.value)
// console.log(reportStore.reports)

const dialog = ref(false);


function updateOffer() {

    accepted.value = true
    props.offer.accepted = true
    emit('offer', toRaw(props.offer))
    offerAccepted.value = true
    dialog.value = false
}

function declineOffer() {
    props.offer.rejected = true
    emit('offer', toRaw(props.offer))
    dialog.value = false
}

async function sendReport(report) {

    try {
        reportOffer.value.reportedOfferId = props.offer.offerId
        reportOffer.value.reportText = report.value.reportText
        await reportStore.reportOffer(reportOffer.value)
        dialog.valiue = false
        reported.value = true
    } catch (err) {
        if (isAxiosError(err) && err.response?.status === 403) {
            return reportedFailed.value = true
        }
    }
}

</script>

<style scoped>
.cancel-btn {
    color: red;
}

.submit-btn {
    color: green;
}
</style>
