<template>
    <v-dialog v-model="showDialog" width="auto">
        <template v-slot:activator="{ props }">
            <v-btn color="primary" v-bind="props" @click="showDialog = true">
                Angebot stellen
            </v-btn>
        </template>
        <slot/>
        <v-card>
            <v-card-text>
                <v-text-field label="Preis" type="number" required variant="outlined" min="1" v-model.number="offer.price"/>
                <v-text-field label="Kommentar" type="text" maxlength="255" required variant="outlined"
                              v-model="offer.offerText"/>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" @click="sendOffer()">Bestätigen</v-btn>
                <v-btn color="red" @click="showDialog=false">Abbrechen</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script setup>
import {ref} from 'vue';
import {useCompanyStore} from "@/store/companyStore";

const companyStore = useCompanyStore()
const showDialog = ref(false);
const emit = defineEmits(['makeOffer'])
const props = defineProps(["project"])

const offer = ref({
    price: null,
    offerText: null,
    projectId: props.project.projectId,
    companyId: companyStore.company.companyId
})

 function sendOffer() {
    emit('makeOffer', offer.value)
        showDialog.value = false

}

</script>

