<template>

    <v-card
        max-width="335px"
        class="mx-auto"
    >
        <v-carousel v-if="project.imageUrlDtoList.length" show-arrows="hover" style="height: 250px">
            <v-carousel-item v-for="imageUrl in project.imageUrlDtoList"
            >
                <img class="srcImg" :src="imageStore.getImage(imageUrl.imageUrl).value">
            </v-carousel-item>
        </v-carousel>
        <div v-else>
            No Images found
        </div>

        <v-card-title>
            {{ project.projectName }}

        </v-card-title>
        <v-card-subtitle class="subtitle-container">
            <div class="chips-container">
                <v-chip v-for="trade in project.trades">
                    {{ trade }}
                </v-chip>
            </div>
        </v-card-subtitle >
                    <v-card-text v-if="directionsData"><b>
                    Distanz: {{directionsData?.distance.text}}<br>
                Fahrdauer: {{directionsData?.duration.text}}
                    </b>
                    </v-card-text>


        <v-card-actions>
            <div class="d-flex flex-column align-center flex-grow-1">
                <offer-dialog @makeOffer="sendOffer" :project="project"/>
                <v-btn color="red" @click="showReportDialog=true"  class="ml-0">Auftrag
                    melden
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                    class="align-self-end"
                    :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'"
                    @click="show = !show"
                ></v-btn>
            </div>
        </v-card-actions>

        <v-expand-transition>

            <div v-show="show">
                <v-divider></v-divider>
                <v-card-text style="height: 200px; overflow: auto">
                    {{ project.projectText }}
                </v-card-text>
            </div>

        </v-expand-transition>
    </v-card>
    <report-dialog @confirmReport="sendReport" v-model="showReportDialog">
        <h2 class="ma-4">Projekt melden</h2>

    </report-dialog>
    <v-snackbar v-model="reported" location="bottom end">
        Angebot gemeldet
    </v-snackbar>
    <v-snackbar v-model="reportedFailed" location="bottom end">
        Fehler! Sie haben das Projekt bereits gemeldet.
    </v-snackbar>
</template>

<script setup>
import {computed, ref} from "vue";
import OfferDialog from "@/components/OfferDialog";
import {useImageStore} from "@/store/imageStore";
import ReportDialog from "@/components/ReportDialog";
import {useReportStore} from "@/store/reportStore";
import {isAxiosError} from "axios";
import {useOfferStore} from "@/store/offerStore";

const offerStore = useOfferStore()
const imageStore = useImageStore()
const showReportDialog = ref(false)
const reportStore = useReportStore()
const reportedProject = ref({})
const reported = ref(false)
const reportedFailed = ref(false)
const show = ref(false)
const emits = defineEmits(['action'])
const props = defineProps(["project", "directionsData"])


async function sendReport(report) {
    try {
        reportedProject.value.reportedProjectId = props.project.projectId
        reportedProject.value.reportText = report.value.reportText
        await reportStore.reportOffer(reportedProject.value)
        reported.value = true
    } catch (err) {
        if (isAxiosError(err) && err.response?.status === 403) {
            return reportedFailed.value = true
        }
    }
        emits('action')

}

async function sendOffer(offer) {
    await offerStore.postOffer(offer)
    offerStore.offersForCompany.offeredProjects.push(offer.projectId)
    emits('action')
}
</script>

<style scoped>

.chips-container {
    display: flex;
    flex-wrap: wrap;
}

.srcImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.subtitle-container {
    max-height: 65px;
    min-height: 65px;
    overflow: auto;
}

</style>
