<template>
    <v-text-field :label="label"  :readonly="writable" >
        <button @click="writable=!writable"><v-icon icon="mdi-pencil-circle"/></button>
    {{text}}
    </v-text-field>
</template>

<script setup>
import {ref} from "vue";

const props = defineProps(['label', 'text'])
const writable = ref(false)
</script>
