<template>
    <div>
        <v-card
            class="mx-5 text-center"
            width="230"
        >
            <v-carousel v-if="props.project.imageUrlDtoList.length" show-arrows="hover" style="height: 250px">

                <v-carousel-item v-for="imageUrl in props.project.imageUrlDtoList"
                >
                    <img class="srcImg" :src="imageStore.getImage(imageUrl.imageUrl).value">
                </v-carousel-item>
            </v-carousel>
            <div v-else>
                <v-img
                    class="align-end text-white"
                    width="250"
                    height="250"
                    src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                    cover
                >
                </v-img>
            </div>
            <v-card-title>{{ props.project.projectName }}</v-card-title>

            <v-card-actions>

                <v-btn color="primary" @click="projectDetailsDialog = true">
                    Bearbeiten
                </v-btn>

                <v-btn color="red" @click="deleteProject()">
                    Löschen
                </v-btn>

                <div v-if="props.project.offerAccepted&&!props.project.finished">
                    <v-btn color="yellow"
                           @click="finishProject">
                        Projekt abschließen
                    </v-btn>
                    <v-btn @click="createChatroom(props.project.offers)">
                        Firma Kontaktieren
                    </v-btn>
                </div>


                <v-chip v-if="props.project.finished" color="green">
                    PROJEKT ABGESCHLOSSEN
                </v-chip>


                <v-btn v-if="props.project?.offers?.length > 0 &&!props.project.finished" color="#146C94" class="mx-1"
                       @click="show = !show">Angebote einsehen
                    <v-icon :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'"/>
                </v-btn>

                <v-chip v-if="props.project?.offers?.length==0" color="blue">
                    Noch keine Angebote erhalten
                </v-chip>
                <div v-if="!props.project.rated&&props.project.finished">
                    <v-chip v-if="!props.project.rated&&props.project.finished" color="yellow">
                        Noch nicht Bewertet
                    </v-chip>
                    <RateProjectDialog
                        v-if="!props.project.rated&&props.project.finished" :project="project"
                        @rateProject="rateProject"/>
                </div>
                <v-chip v-if="props.project.rated" color="green">
                    BEWERTET
                </v-chip>


            </v-card-actions>

            <v-expand-transition>

                <div v-show="show">
                    <v-divider></v-divider>
                    <v-card-text style="height: 200px; overflow: auto">
                        <v-list>
                            <v-list-item
                                class="mx-1"
                                v-for="offer in project.offers"
                                :value="offer.price">
                                <offer-details-dialog :offer="offer" @offer="updateOffer"/>
                            </v-list-item>

                        </v-list>
                    </v-card-text>
                </div>

            </v-expand-transition>
        </v-card>
    </div>
    <ProjectDetailsDialog :project="project" @save="updateProject" v-model="projectDetailsDialog"/>
</template>

<script setup>
import ProjectDetailsDialog from "@/components/ProjectDetailsDialog.vue";
import {ref, toRaw} from "vue";
import OfferDetailsDialog from "@/components/OfferDetailsDialog";
import {useOfferStore} from "@/store/offerStore";
import {useProjectsStore} from "@/store/projectStore";
import {useImageStore} from "@/store/imageStore";
import RateProjectDialog from "@/components/RateProjectDialog";
import {useMessageStore} from "@/store/messageStore";
import {useAuthStore} from "@/store/authStore";

const imageStore = useImageStore()
const messageStore = useMessageStore()
const authStore = useAuthStore()

const props = defineProps(['project'])
const emit = defineEmits(['updateProject', 'delete', 'rateProject'])
const show = ref(false)
const offerStore = useOfferStore()
const projectStore = useProjectsStore()
const projectDetailsDialog = ref(false)

function finishProject() {
    props.project.finished = true
    emit('updateProject', props.project)
}

function updateProject(updateProject) {

    props.project.projectName = updateProject.projectName
    props.project.projectText = updateProject.projectText
    props.project.trades = updateProject.tradeList
    emit('updateProject', props.project)
}

function rateProject(ratedProject, images) {
    props.project.rated = true
    emit('rateProject', ratedProject, images)
}

function deleteProject() {
    emit('delete', props.project)
}

async function updateOffer(offer) {
    await offerStore.updateOffer(offer)
    await projectStore.getUserProjectsWithOffer()

}

async function deleteOffer(offer) {
    await offerStore.deleteOffer(offer)
    await projectStore.getUserProjectsWithOffer()
}

async function createChatroom(offers){
    const confirmedOffer = offers.find(offer=>offer.confirmed==true)
    const userIdArray= [authStore.user.userId, confirmedOffer.companyDto.companyUserId]
    const chatIdString = Math.min(...userIdArray)+'_'+Math.max(...userIdArray)
    const chat = messageStore.chats.find(chat=>chat.chatIdString==chatIdString)
    if (!!chat){
        messageStore.activeChat=chat
    }else{
        messageStore.createChatroom({offerId:confirmedOffer.offerId})
    }
}

</script>

<style scoped>
.srcImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.v-card-actions {
    flex-wrap: wrap;
    justify-content: center;
}

</style>
