<template>
    <v-dialog v-model="projectDetailsDialog" width="20%" class="text-center">
        <v-card>
            <v-icon class="ml-auto" @click="projectDetailsDialog = false">mdi-close</v-icon>
            {{ props.project.project }}

            <v-card-text>
                <v-card-title>Auftrag bearbeiten</v-card-title>

                <v-text-field label="Name" type="text" required variant="outlined"
                              v-model="updatedProject.projectName"/>
                <v-text-field label="Beschreibung" type="text" required variant="outlined"
                              v-model="updatedProject.projectText"/>
                <v-combobox
                    v-model="updatedProject.tradeList"
                    :items="tradeStore.trades"
                    label="Bereich"
                    chips
                    multiple
                ></v-combobox>
            </v-card-text>
            <v-card-actions class="ma-auto">
                <slot>
                    <v-btn class="mx-1" color="primary" @click="updateProject()"
                           v-if="!props.project?.offers?.length>0">
                        Bestätigen
                    </v-btn>
                </slot>
                <v-btn class="mx-1" color="red" @click="projectDetailsDialog=false">Zurück</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script setup>

import {computed, ref, toRaw, watch} from "vue";
import {useTradeStore} from "@/store/tradeStore";

const tradeStore = useTradeStore()
const props = defineProps({
    project: {
        required: true,
    },
    modelValue:
        {}
})
const emit = defineEmits(['save', 'modelValue'])
const projectDetailsDialog = computed({
    get() {
        return props.modelValue
    },
    set(value) {
        emit('update:modelValue', value)
    }
})

const updatedProject = ref({})

watch(() => props.project, () => {
    if (props.project) {
        updatedProject.value.projectName = props.project.projectName
        updatedProject.value.projectText = props.project.projectText
        updatedProject.value.tradeList = props.project.trades
    }
}, {immediate: true})

function updateProject() {
    emit('save', toRaw(updatedProject.value))
    projectDetailsDialog.value = false
}

</script>
