<template>
    <v-dialog v-model="rateProjectDialog" max-width="800">
        <template v-slot:activator="{ props }">
            <v-btn color="primary" v-bind="props" @click="rateProjectDialog = true">
                Jetzt Bewerten!
            </v-btn>
        </template>
        <slot/>

        <v-card>
            <v-icon class="ml-auto" @click="rateProjectDialog = false">mdi-close</v-icon>

            <v-card-item>


                <v-row>
                    <v-col v-col cols="12" md="6">
                        <div class="d-flex justify-md-space-between align-center">
                            <v-card-title justify="center">Bewertung</v-card-title>
                            <v-rating v-model="ratedProject.rating"></v-rating>
                        </div>
                        <v-text-field v-model="ratedProject.ratingText" counter label="Beschreibung"></v-text-field>
                        <v-row justify="center" class="ma-6 text-center">

                            <v-btn @click="imageInputs+=1">Bilder hinzufügen</v-btn>

                            <v-btn class="mx-1" color="primary" @click="rateProject()">
                                Bewertung abschicken
                            </v-btn>
                            <v-btn class="mx-1" color="yellow" @click="rateProjectDialog=false">Abbrechen</v-btn>
                        </v-row>
                    </v-col>
                    <v-col cols="12"
                           md="6"
                           class="d-flex align-stretch">
                        <div  class="imageList flex-grow-1">
                            <div class="imageList__scrollcontainer">
                        <image-upload-component
                            v-for="i in imageInputs"
                            :label="'Danach-Bild'"
                            @addPicture="addPicture($event, i-1)"></image-upload-component>
                            </div>
                        </div>
                    </v-col>
                </v-row>
            </v-card-item>
        </v-card>
    </v-dialog>
</template>

<script setup>
import {ref, toRaw, watch} from "vue";
import {useTradeStore} from "@/store/tradeStore";
import ImageUploadComponent from "@/components/ImageUploadComponent"

const imageInputs = ref(0)
const images = ref([])
const tradeStore = useTradeStore()
const emit = defineEmits(['rateProject'])
const rateProjectDialog = ref(false)
const props = defineProps({
    project: {
        type: Object,
        required: true,
    },
})

const ratedProject = ref({
    offerId: props.project.offers.find(e => e.confirmed).offerId,
    rating: null,
    ratingText: null,
})

function addPicture(image, i) {
    images.value[i] = image
}

function rateProject() {
    // console.log(toRaw(ratedProject.value))
    emit('rateProject', toRaw(ratedProject.value), images.value)
    rateProjectDialog.value = false
}

</script>

<style scoped lang="scss">
//hier wird das SCSS in variables importiert und entfernt den präfix variables (scheißerklärung)
@use "@/assets/styles/variables.scss" as *;
//Utiliy klasse aus dem Key-value Store
@use "sass:map";

.imageList {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.imageList__scrollcontainer {
    flex-grow: 1;
    height: auto;

    @media (min-width: map.get($grid-breakpoints, md)) {
        height: 0;
        padding-right: 16px;
        overflow-y: auto;
    }
}
</style>
