<template>
    <div class="text-center">
        <v-dialog
                v-model="reportDetailsDialog"
                width="600px"
            >
                <v-card>
                    <v-card-title> Angebot
                    </v-card-title>
                    <v-card-text>
                        <v-text-field variant="outlined" type="text" label="Preis"  readonly v-model="props.offer.price"/>
                        <v-text-field variant="outlined" type="text" label="Details" readonly v-model="props.offer.offerText"/>
                    </v-card-text>
                    <v-card-actions class="ma-auto">
                        <v-btn v-if="!props.offer.deleted" color="green" text @click="updateOffer(true)">Zum Löschen markieren</v-btn>
                        <v-btn v-else-if="props.offer.deleted" color="green" text @click="updateOffer(false)">Markierung aufheben</v-btn>

                        <v-btn color="primary" text @click="showCompany(offer.companyDto.companyUserId)">Firmenprofil ansehen</v-btn>
                        <v-btn color="red" text @click="reportDetailsDialog=false">Abbrechen</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
    </div>
</template>

<script setup>
import {computed, ref} from "vue";
import {useUserStore} from "@/store/userStore";
import {useOfferStore} from "@/store/offerStore";

const offerStore = useOfferStore()
const userStore = useUserStore()
const props = defineProps(['offer', 'modelValue'])
const emit = defineEmits(['update:modelValue', 'companyDetails'])
const reportDetailsDialog = computed({
    get() {
        return props.modelValue
    },
    set(value) {
        emit('update:modelValue', value)
    }
})

async function showCompany(userId) {
    await userStore.getUserById(userId)
    emit('companyDetails', userStore.user)
    reportDetailsDialog.value=false
}

async function updateOffer(value) {
    props.offer.deleted = value
   await offerStore.updateOffer(props.offer)
    reportDetailsDialog.value=false
}
</script>
