<template>
    <v-dialog v-model="reportDialog" max-width="500px">
        <v-card>
            <div class="d-flex justify-lg-space-between">
            <slot>
                <v-card-title>
                    Melden
                </v-card-title>
            </slot>
                <v-btn icon class="cancel-button ma-1" @click="reportDialog = false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </div>
            <v-card-text>
                <v-text-field label="Grund für die Meldung" v-model="report.reportText"
                              variant="outlined"></v-text-field>
            </v-card-text>
            <v-card-actions>
                <v-btn color="green" text @click="sendReport()">Absenden</v-btn>
                <v-btn color="red" text @click="reportDialog = false">Abbrechen</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script setup>

import {computed, ref} from "vue";

const report = ref({})
const props = defineProps(['modelValue', 'reportedElement'])
const emit = defineEmits(['update:modelValue', 'confirmReport'])

const reportDialog = computed({
    get() {
        return props.modelValue
    },
    set(value) {
        emit('update:modelValue', value)
    }
})

function sendReport() {
    emit('confirmReport', report)
    reportDialog.value = false

}
</script>
