<template>
        <v-card>
            <v-card-title>
                <slot/>

                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                ></v-text-field>
            </v-card-title>
        <v-data-table
            v-model:items-per-page="itemsPerPage"
            :headers="props.header"
            :items="props.reports"
            :search="search"
            item-value="name"
            class="elevation-1">

            <template v-slot:item.reportedByUser="row">
            </template>

            <template v-slot:item.reportedUser="row">
            </template>
            <template v-slot:item.details="row">
                <td v-if="!row.item.value.finished">
                    <v-btn class="ma-1" color="primary" @click="showUserDetails(row.item.value.reportedByUser)">Verfasser</v-btn>
                    <v-btn v-if="row.item.value.reportedUser.userId!=0" class="ma-1" color="secondary" @click="showUserDetails(row.item.value.reportedUser)">Gemeldete Benutzer
                    </v-btn>
                    <v-btn v-if="row.item.value.reportedOffer.offerId!=0" class="ma-1" color="info" @click="showReportedOffer(row.item.value.reportedOffer)">Gemeldetes Angebot</v-btn>
                    <v-btn v-if="row.item.value.reportedProject.projectId!=0" class="ma-1" color="#B3E5FC" @click="showReportedProject(row.item.value.reportedProject)">Gemeldeter Auftrag</v-btn>
                </td>
            </template>
            <template v-slot:item.actions="row">
                <td>
                    <v-btn v-if="!row.item.value.finished" @click="finishReport(row.item.value)" color="yellow">Abschließen</v-btn>
                    <v-btn v-if="row.item.value.finished" @click="deletedAll(row.item.value)" color="red">Alles löschen</v-btn>
                </td>
            </template>

            <template v-slot:item.finished="row">
                <td>
                    <v-icon size="x-large" icon="mdi-circle" :color="row.item.value.finished ? 'green' : (row.item.value?.reportedOffer?.deleted || row.item.value?.reportedUser?.deleted || row.item.value?.reportedProject.deleted) ? 'yellow' : 'red'"/>

                </td>
            </template>

            <template v-slot:item.userDto.locked="row">
                    <td>
                        <v-icon size="x-large" icon="mdi-circle" :color="row.item.value.userDto.locked ? 'red' : 'green'"/>
                    </td>
                </template>
            <template v-slot:item.userAction="row">
                <td>
                    <v-btn v-if="row.item.value.companyDto" class="ma-1" @click="showUserDetails(row.item.value.userDto)" color="primary">Firmenseite</v-btn>
                    <v-btn v-if="!row.item.value.userDto.locked" class="ma-1" @click="lockUser(row.item.value)" color="yellow">Sperren</v-btn>
                    <v-btn v-if="row.item.value.userDto.locked" @click="unlockUser(row.item.value)" color="yellow">Entsperren</v-btn>

<!--                    <v-btn v-if="row.item.value.locked" @click="lockUser(row.item.value); row.item.value.locked = false" color="yellow">Entsperren</v-btn>-->
                </td>
            </template>

        </v-data-table>
        </v-card>
    <reported-offer-details-dialog :offer="offer" v-model="showOfferDetailsDialog" @companyDetails="showUserDetails"/>
    <user-details-dialog :user="user" @updateUser="lockUser" v-model="showUserDetailsDialog"/>
    <project-details-dialog :project="project" v-model="showProjectDialog">
        <v-btn v-if="!project.deleted" color="green" text @click="updateProject(project, true)">Zum Löschen markieren </v-btn>
        <v-btn v-if="project.deleted" color="green" text @click="updateProject(project, false)">Markierung aufheben </v-btn>
        <v-btn  color="primary" text @click="showUserDetails(project.userDto)">Benutzer Profil </v-btn>
    </project-details-dialog>
</template>

<script setup>
import {computed, ref, toRaw} from "vue";
import ReportedOfferDetailsDialog from "@/components/ReportedOfferDetailsDialog.vue";
import UserDetailsDialog from "@/components/UserDetailsDialog.vue";
import {useCompanyStore} from "@/store/companyStore";
import {useReportStore} from "@/store/reportStore";
import ProjectDetailsDialog from "@/components/ProjectDetailsDialog.vue";
import axios from "axios";
import {useProjectsStore} from "@/store/projectStore";
import {useOfferStore} from "@/store/offerStore";
import {useUserStore} from "@/store/userStore";

const showOfferDetailsDialog = ref(false)
const showProjectDialog = ref(false)
const showUserDetailsDialog = ref(false)
const search = ref('')
const props = defineProps({
    reports: {
        type: Array,
        default: () => [],
    },

    header: {
        type: Array,
        default: () => []
    },
    companies: {
        type: Array,
        default: () => []
    }
})
const itemsPerPage = ref(5);
const report = ref()
const offer = ref()
const user = ref()
const project = ref()
const companyStore = useCompanyStore()
const reportStore = useReportStore()
const projectStore = useProjectsStore()
const offerStore = useOfferStore()
const userStore = useUserStore()

function editReport(reportedId) {
    report.value = props.reports.find(item => item.reportId === reportedId)
    console.log(report.value)
}

function showReportedOffer(reportedOffer) {
    offer.value = reportedOffer
    showOfferDetailsDialog.value = true
}

async function showUserDetails(selectedUser) {
    if (selectedUser.role === "COMPANY") {
        await companyStore.getCompanyByUserId(selectedUser.userId)
    }
    user.value = selectedUser
    showUserDetailsDialog.value = true
}

function showReportedProject(reportedProject) {
    console.log(reportedProject)
    project.value = reportedProject
    console.log(project.value)
    showProjectDialog.value = true
}

async function finishReport(report) {
    report.finished = true
    await reportStore.updateReport(report)

}

async function updateProject(project, value) {
    project.deleted = value;
    await projectStore.updateProject(project)
}

async function deletedAll(report) {
    if(report.reportedOffer.offerId >0) {
        report.reportedOffer.reported=false
        await offerStore.updateOffer(report.reportedOffer)
        await offerStore.deleteOffer(report.reportedOffer)

    } else if(report.reportedProject.projectId>0) {
        report.reportedProject.reported=false

        await projectStore.updateProject(report.reportedProject)
        // await projectStore.deleteProject(report.reportedProject)

    }

    await reportStore.deleteReport(report.reportId)
    await userStore.getAllUserWithCompanyAndAddress()
}

async function lockUser(updateUser) {
    updateUser.userDto.locked = true;
    await userStore.updateUser(updateUser.userDto)
    await userStore.getAllUserWithCompanyAndAddress()
}

async  function unlockUser(updateUser) {
    updateUser.userDto.locked = false;
    await userStore.updateUser(updateUser.userDto)
    await userStore.getAllUserWithCompanyAndAddress()
}



</script>
<!--reports.value = reportStore.reports.filter(item=> item.reportedOffer !== null)-->
