<template>
    <div class="text-center">

        <v-dialog v-model="userDetailsDialog"
                  width="500px">
            <v-card>
                <v-card-title>Benutzerdetails</v-card-title>
                <v-card-text>

                <v-text-field label="Vorname" type="text" readonly variant="outlined" maxlength="255"
                              v-model="props.user.firstName"/>
                <v-text-field label="Nachname" type="text" readonly variant="outlined" maxlength="255"
                              v-model="props.user.lastName"/>
                <v-text-field label="E-Mail-Adresse" type="email" readonly variant="outlined" maxlength="255"
                              v-model="props.user.email">
                </v-text-field>

                <v-text-field
                    label="Rolle" readonly variant="outlined" v-model="props.user.role"
                ></v-text-field>
                    <div v-if="props.user.role==='COMPANY'">
                        <v-card-title>Firmendetails</v-card-title>

                        <v-text-field label="Firmenname" type="text" readonly variant="outlined" maxlength="255"
                                      v-model="companyStore.company.companyName"/>
                        <v-text-field label="Firmennummer" type="number" readonly variant="outlined" maxlength="255"
                                      v-model="companyStore.company.registerNumber"/>
                        <v-text-field label="Homepage" type="text" readonly variant="outlined" v-model="companyStore.company.homepage"/>
                        <v-combobox
                            v-model="companyStore.company.trade"
                            :items="companyStore.company.trade"
                            label="Firmenbranche"
                            multiple
                            readonly
                            chips
                        ></v-combobox>

                    </div>
                    </v-card-text>

                    <v-card-actions class="ma-auto">
                        <v-btn v-if="!props.user.locked" color="green" text @click="updateUser(true)">Benutzer sperren </v-btn>
                        <v-btn v-else-if="props.user.locked" color="green" text @click="updateUser(false)">Benutzer entsperren </v-btn>
                        <v-btn color="red" text @click="userDetailsDialog=false">Zurück</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script setup>

import {computed, ref} from "vue";
import {useCompanyStore} from "@/store/companyStore";
import {useUserStore} from "@/store/userStore";
import {useReportStore} from "@/store/reportStore";

const props = defineProps(['user', 'modelValue'])
const emit = defineEmits(['update:modelValue', 'updateUser'])
const companyStore = useCompanyStore()
const reportStore = useReportStore()
const userStore = useUserStore()

const userDetailsDialog = computed({
    get() {
        return props.modelValue
    },
    set(value) {
        emit('update:modelValue', value)
    }
})

 function updateUser(value) {
    props.user.locked = value
     emit('updateUser', props.user)
    userDetailsDialog.value = false
}
</script>
