<template >
        <v-container>
            <v-row justify="center">
                <create-project-component  @emitProject="createProject"/>
                <project-card-component v-for="project in projectStore.projects"
                                     :project="project"
                              @update-project="updateProject"
                                     @delete="deleteProject"
                                        @rateProject="(ratedProject, imageArray)=>rateProject(ratedProject, imageArray, project.projectId)"
                >
                </project-card-component>
            </v-row>
        </v-container>
</template>

<script setup>
import {useProjectsStore} from "@/store/projectStore";
import {useOfferStore} from "@/store/offerStore";
import {useAuthStore} from "@/store/authStore";
import CreateProjectComponent from "@/components/CreateProjectComponent.vue";
import ProjectCardComponent from "@/components/ProjectCardComponent.vue";
import {ref} from "vue";
import {useAddressStore} from "@/store/addressStore";


const addressStore = useAddressStore()
const projectStore = useProjectsStore()
const offerStore = useOfferStore()
const authStore = useAuthStore()
const dialog = ref(false)

async function updateOffer(offer) {
    await offerStore.updateOffer(offer)
    await projectStore.getUserProjectsWithOffer()

}

async function createProject(project, imagesArray, newAddress) {
    if(!newAddress) {
        await projectStore.postProject(project, imagesArray, "/0")
        await projectStore.getUserProjectsWithOffer()
    } else {
        await addressStore.createAddress(newAddress)
        project.addressId = addressStore.addressList[addressStore.addressList.length-1].addressId
        await projectStore.postProject(project, imagesArray, "/0")
        await projectStore.getUserProjectsWithOffer()
    }
}

async function updateProject(project) {
    await projectStore.updateProject(project)
    await projectStore.getUserProjectsWithOffer()

}
async function rateProject(ratedProject, imageArray, projectId) {
    await projectStore.rateProject(ratedProject, imageArray, projectId)

}

// Funktion löscht Projekt nicht wirklich, sondern markiert sie zum Löschen
async function deleteProject(project) {

    project.deleted = true;
    await projectStore.updateProject(project)
    await projectStore.getUserProjectsWithOffer()

}

async function uploadProjectImages(imageArray){
    await imageStore.uploadProjectImages(imageArray, )
}

</script>

<style scoped>
</style>
