<template>
    <v-app-bar color="primary">
        <v-app-bar-title>Roberts Webshop</v-app-bar-title>
        <v-toolbar-items>
            <v-btn to="/">Home</v-btn>
            <v-btn to="/basket" v-if="authStore.isUser">Warenkorb<v-badge class="ml-4" color="green" :content="itemsInCart"/></v-btn>
            <v-btn to="/new-product" v-if="authStore.isAdmin">Produkte Übersicht</v-btn>
            <template v-if="authStore.isLoggedIn">
                <v-btn @click="authStore.logout">Logout</v-btn>
            </template>
            <template v-else>
                <v-btn to="/login">Login</v-btn>
                <v-btn to="/register">Registrieren</v-btn>
            </template>
        </v-toolbar-items>
    </v-app-bar>
    <v-main>
        <v-container>
            <router-view/>
        </v-container>
    </v-main>
</template>

<script setup>
    import { useAuthStore } from '@/store/authStore'
    import {useBasketStore} from "@/store/basketStore";
    import {computed} from "vue";

    const authStore = useAuthStore()
    const basketStore = useBasketStore()

    const itemsInCart = computed(()=> basketStore.basket?.items?.reduce((total, item) => total + item.amount, 0) ?? 0)
</script>
