<template>

    <div class="mt-16 ml-8">
        <v-row>
                <v-layout class="drawer">
                    <v-navigation-drawer
                        color="#146C94"
                        permanent
                        theme="dark"
                    >
                        <v-list nav>
                            <v-list-item prepend-icon="mdi-all-inclusive" title="Alle Meldungen"
                                         value="Alle Meldungen" @click="showTable(0)"></v-list-item>
                            <v-list-item class="pl-8" density="compact" prepend-icon="mdi-account" title="Benutzer" value="Personen" @click="showTable(2)"></v-list-item>
                            <v-list-item class="pl-8" density="compact" prepend-icon="mdi-cash-multiple" title="Angebote" value="Angebote" @click="showTable(1)"></v-list-item>
                            <v-list-item class="pl-8" density="compact" prepend-icon="mdi-food-takeout-box-outline" title="Aufträge" value="Personen" @click="showTable(3)"></v-list-item>
                            <v-list-item prepend-icon="mdi-account-multiple" title="Alle Benutzer"
                                         value="Alle Benutzer" @click="showTable(4)"></v-list-item>
                        </v-list>
                    </v-navigation-drawer>
                    <v-main class="mr-8">

                    <report-table-component :reports="reports" :header="newHeaders" :companies="companies">
                        <div>
                            {{ title }}
                    </div>
                    </report-table-component>
                    </v-main>
                </v-layout>
        </v-row>
    </div>

</template>

<script setup>
import {useReportStore} from "@/store/reportStore";
import ReportTableComponent from "@/components/ReportTableComponent.vue"
import {ref} from "vue";
import {useUserStore} from "@/store/userStore";
import {useCompanyStore} from "@/store/companyStore";
const reports = ref([])
const reportStore = useReportStore()
const userStore = useUserStore()
const reportedUser = ref([])
const companies = ref([])
const companyStore = useCompanyStore()
let title = 'Meldungen'


const headers = [
    {
        title: 'Report Id',
        align: 'start',
        key: 'reportId',
    },
    {title: 'Erstellt am', align: 'start', key: 'createdAt'},
    {title: 'Erstellt von', align: 'start', key: 'reportedByUser.userId'},
    {title: 'Grund', align: 'start', key: 'reportText'},
    {title: 'Gemeldeter Benutzer', align: 'start', key: 'reportedUser.userId'},
    {title: 'Gemeldetes Angebot', align: 'start', key: 'reportedOffer.offerId'},
    {title: 'Gemeldetes Projekt', align: 'start', key: 'reportedProject.projectId'},
    {title: 'Detailansicht ', align: 'start', key: 'details', sortable: false,},
    {title: 'Aktionen ', align: 'start', key: 'actions', sortable: false,},
    {title: 'Status', align: "start", key: 'finished'},
]

const lockedUserHeader = [
    {
        title: 'User Id',
        align: 'start',
        key: 'userDto.userId'
    },
    {
        title: 'Vorname',
        align: 'start',
        key: 'userDto.firstName'
    },
    {        title: 'Nachname',
        align: 'start',
        key: 'userDto.lastName'
    },
    {        title: 'E-Mail Adresse',
        align: 'start',
        key: 'userDto.email'
    },
    {        title: 'Benutzerrolle',
        align: 'start',
        key: 'userDto.role'
    },
    {
        title: 'Firmenname',
        align: 'start',
        key: 'companyDto.companyName'
    },
    {
        title: 'Aktionen',
        align: 'start',
        key: 'userAction'
    },
    {
        title:'Status',
        align: 'start',
        key: 'userDto.locked'
    }
]

let newHeaders = [headers]



function showTable(filter) {
    if (filter === 0) {
        title = 'Alle Meldungen'
        newHeaders = headers
        reports.value = reportStore.reports
    } else if (filter === 1) {
        title = 'Gemeldete Benutzer'
        newHeaders = headers.filter(header => header.key !== 'reportedUser.userId' && header.key !== 'reportedProject.projectId')
        reports.value = reportStore.reports.filter(item=>item.reportedOffer.offerId !== 0)

    } else if (filter === 2) {
        title = 'Gemeldete Aufträge'
        newHeaders = headers.filter(header => header.key !== 'reportedOffer.offerId' && header.key !== 'reportedProject.projectId');
        reports.value = reportStore.reports.filter(item=>item.reportedUser.userId !== 0)

    } else if (filter === 3) {
        title = 'Gemeldete Projekte'
        newHeaders = headers.filter(header => header.key !== 'reportedOffer.offerId' && header.key !== 'reportedUser.userId');
        reports.value = reportStore.reports.filter(item=>item.reportedProject.projectId !== 0)

    } else if (filter === 4) {
        title = 'Alle Benutzer'

        newHeaders = lockedUserHeader
        reports.value = userStore.allUsersWithCompanyAndAddress
    }

}
</script>



<style scoped>
.drawer {
    min-height: calc(100vh - 96px - 64px) !important;
}
</style>
