<template>
    <h1 class="mb-4">Person erstellen</h1>
    <PersonForm @save="addPerson"/>
</template>

<script setup>
    import PersonForm from '@/components/PersonForm.vue'
    import { useUserStore } from '@/store/UserStore'
    import { useRouter } from 'vue-router'

    const userStore = useUserStore()
    const router = useRouter()

    async function addPerson(person) {
        const userId = Math.round(Math.random() * 10000);
        await userStore.createUser({ ...person, userId })
        await router.push('/')
    }
</script>
