<template>
  <h1>Personendetails</h1>
  <dl>
    <div class="row">
      <dt class="col-12 col-md-4">Vorname</dt>
      <dd class="col-12 col-md-8">{{ user.firstName }}</dd>
    </div>
    <div class="row">
      <dt class="col-12 col-md-4">Nachname</dt>
      <dd class="col-12 col-md-8">{{ user.lastName }}</dd>
    </div>
    <div class="row">
      <dt class="col-12 col-md-4">Alter</dt>
      <dd class="col-12 col-md-8">{{ age }}</dd>
    </div>
  </dl>

  <div class="d-flex gap-3">
    <button type="button" class="btn btn-warning" @click="isEditDialogVisible=true">Bearbeiten</button>
    <button type="button" class="btn btn-danger" @click="deleteUser">Löschen</button>
  </div>

  <CustomDialog v-model="isEditDialogVisible" title="Person bearbeiten">
    <PersonForm :person="user" @save="updateUser"/>
  </CustomDialog>
</template>

<script setup>
import {useUserStore} from '@/store/UserStore'
import {useRoute, useRouter} from 'vue-router'
import {computed, ref} from 'vue'
import CustomDialog from '@/components/CustomDialog.vue'
import PersonForm from '@/components/PersonForm.vue'

const userStore = useUserStore()
const route = useRoute()
const router = useRouter()
const userId = computed(() => parseInt(route.params.userId))
const userIndex = computed(() => userStore.users.findIndex(user => user.userId === userId.value))
const user = computed(() => userStore.users.find(user => user.userId === userId.value))
const age = computed(() => new Date().getFullYear() - user.value?.birthYear)
const isEditDialogVisible = ref(false)

async function updateUser(updatedUser) {
  updatedUser["userId"] = userId.value;
  await userStore.editUser(updatedUser)
  isEditDialogVisible.value = false
}

async function deleteUser() {
  await userStore.deleteUser(userId.value);
  await router.push('/')
}
</script>
