<template>
    <h1 class="mb-5">Übersicht</h1>
    <h2 class="h4">Erwachsene</h2>
    <PersonTable :persons="adults" class="mb-5"/>
    <h2 class="h4">Kinder & Jugendliche</h2>
    <PersonTable :persons="minors"/>
</template>

<script setup>
    import { useUserStore } from '@/store/UserStore'
    import PersonTable from '@/components/PersonTable.vue'
    import {computed, onBeforeMount} from 'vue'
    const userStore = useUserStore()

    onBeforeMount(userStore.getUser);

    const adults = computed(() => userStore.users.filter(user => user.birthYear <= new Date().getFullYear() - 18))
    const minors = computed(() => userStore.users.filter(user => user.birthYear > new Date().getFullYear() - 18))
</script>
