<template>
    <div class="custom-dialog-backdrop" v-if="model">
        <dialog open class="custom-dialog">
            <div class="border-bottom d-flex justify-content-between pb-2 mb-2">
                <strong>{{ title }}</strong>
                <button type="button" class="btn btn-close" @click="model=false"></button>
            </div>
            <slot/>
        </dialog>
    </div>
</template>

<script setup>
    import { computed } from 'vue'

    const props = defineProps({
        modelValue: Boolean,
        title: String
    })

    const emit = defineEmits(['update:modelValue'])

    const model = computed({
        get: () => props.modelValue,
        set: value => emit('update:modelValue', value)
    })
</script>

<style scoped>
    .custom-dialog {
        min-width: 500px;
        border: 1px solid gray;
        border-radius: 4px;
        box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .3);
    }

    .custom-dialog-backdrop {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        inset: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(2px);
    }
</style>
