<template>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Geburtsjahr</th>
            <th class="text-end">Aktionen</th>
        </tr>
        </thead>
        <tbody>
        <PersonEntry v-for="(person, index) in persons"
                     :person="person"
                     @delete="emit('delete', index)"
                     @edit="updatedPerson => emit('edit', index, updatedPerson)"
        />
        <tr v-if="!persons.length">
            <td colspan="4" class="text-center">Keine Personen gefunden</td>
        </tr>
        </tbody>
    </table>
</template>

<script setup>
    import PersonEntry from '@/components/PersonEntry.vue'

    defineProps({
        persons: Array
    })

    const emit = defineEmits(['edit', 'delete'])
</script>
