<template>
    <form @submit.prevent="save" class="mb-4">
        <label class="d-block mb-3">
            <span class="form-label">Vorname</span>
            <input type="text" name="firstName" class="form-control" v-model="firstName" required>
        </label>
        <label class="d-block mb-3">
            <span class="form-label">Nachname</span>
            <input type="text" name="lastName" class="form-control" v-model="lastName" required>
        </label>
        <label class="d-block mb-3">
            <span class="form-label">Geburtsjahr</span>
            <input type="number" step="1" name="birthYear" class="form-control" v-model="birthYear" required>
        </label>
        <button type="submit" class="btn btn-success">Hinzufügen</button>
    </form>
</template>

<script setup>
    import { ref, watch } from 'vue'

    const props = defineProps({
        person: Object
    })

    const emit = defineEmits(['save'])

    const firstName = ref('')
    const lastName = ref('')
    const birthYear = ref(null)

    async function save () {
        await emit('save', {
            firstName: firstName.value,
            lastName: lastName.value,
            birthYear: birthYear.value
        })
    }

    watch(() => props.person, () => {
        if (props.person) {
            firstName.value = props.person.firstName
            lastName.value = props.person.lastName
            birthYear.value = props.person.birthYear
        }
    }, { immediate: true })
</script>
