<template>
    <tr>
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ age }}</td>
        <td class="text-end">
            <RouterLink :to="'/users/' + person.userId" class="btn btn-sm btn-outline-primary" @click="emit('delete')">
                Details
            </RouterLink>
        </td>
    </tr>
</template>

<script setup>
    import { computed, ref } from 'vue'
    import CustomDialog from '@/components/CustomDialog.vue'
    import PersonForm from '@/components/PersonForm.vue'

    const props = defineProps({
        person: Object
    })

    const emit = defineEmits(['edit', 'delete'])

    const age = computed(() => new Date().getFullYear() - props.person.birthYear)
    const isEditDialogVisible = ref(false)

    function updatePerson (updatedPerson) {
        isEditDialogVisible.value = false
        emit('edit', updatedPerson)
    }
</script>
