<template>
  <main class="container">

    <div class="row">
      <div class="col-12 col-md-4">
        <div class="bg-light p-3">
          <h2>Person anlegen</h2>
        <PersonForm @submit='addPerson'/>
        </div>
        <h2>Aktionen</h2>
        <div class="d-flex gap-3">
          <button type="button" class="btn btn-danger" @click="removeLast">Letztes Element löschen
          </button>
          <button type="button" class="btn btn-danger" @click="removeAll">Alles löschen</button>
        </div>
      </div>
      <div class="col-12 col-md-8">

        <PersonEntry :personArray="persons" @click='deletePerson' @submit="updatePerson"/>

      </div>
    </div>
  </main>
</template>

<script setup>
import {ref} from "vue";
import PersonForm from "@/PersonForm.vue";
import PersonEntry from "@/PersonEntry.vue";

const persons = ref([]);

function addPerson(person) {
  persons.value.push(person)
}

function deletePerson(index) {
  persons.value.splice(index,1)
}

function updatePerson(person, index) {
  console.log(person);
  console.log(index);
  persons.value[index] = person;
}


</script>
