<template>
  <form @submit.prevent="emitPerson" class="mb-4">
    <label class="d-block mb-3">
      <span class="form-label">Vorname</span>
      <input type="text" name="firstName" class="form-control" v-model="firstName" required>
    </label>
    <label class="d-block mb-3">
      <span class="form-label">Nachname</span>
      <input type="text" name="lastName" class="form-control" v-model="lastName" required>
    </label>
    <label class="d-block mb-3">
      <span class="form-label">Geburtsjahr</span>
      <input type="number" step="1" name="birthYear" class="form-control"
             v-model.model="birthYear" required>
    </label>
    <button type="submit" class="btn btn-success">Hinzufügen</button>
  </form>

</template>

<script setup>
import {ref, watch} from 'vue'

const firstName = ref('')
const lastName = ref('')
const birthYear = ref(null)
const emit = defineEmits(['submit']);
const props = defineProps({personObjectProp: {
  type: Object,
    default: {}
}})

watch(()=>props.personObjectProp, (element)=> {
    firstName.value = element.firstName
    lastName.value = element.lastName
    birthYear.value = element.birthYear
    },
{immediate:true})

function emitPerson() {
  emit('submit', {
    firstName: firstName.value,
    lastName: lastName.value,
    birthYear: birthYear.value,
  })
}
</script>