<script setup>
import {computed, ref} from "vue";
import UpdateDialog from "@/UpdateDialog.vue";
import PersonForm from "@/PersonForm.vue";


const visible = ref(false);
const emit = defineEmits(['click', 'submit']);
const props = defineProps(['personArray'])
const personObject = ref({})
let personIndex;



const age = computed(() => {
  return props.personArray.map(person => new Date().getFullYear() - person.birthYear)
});

function emitIndex(index) {
  emit('click', index)
}


function openDialog(person, index) {
  personIndex = index;
  personObject.value = person;
  visible.value = true;
}

function emitPerson(person) {
   visible.value=false
  emit('submit', person, personIndex)
}


</script>

<template>
  <UpdateDialog v-model = "visible" :personObjectProp='personObject' v-if="visible">
    <PersonForm @submit="emitPerson" :personObjectProp='personObject'/>
  </UpdateDialog>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Geburtsjahr</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(person, index) in personArray">
      <td>{{ person.firstName }}</td>
      <td>{{ person.lastName }}</td>
      <td>{{ age[index] }}</td>
      <td>
        <button type="button" class="btn btn-warning btn-sm update-age" @click="openDialog(person, index)" > Bearbeiten</button>

        <button type="button" class="btn btn-danger btn-sm delete-person" @click='emitIndex(index)'>Löschen
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</template>

