<template>
    <dialog open>
      <button @click="model=false">X</button>
      <h4>{{ props.personObjectProp.firstName }}</h4>
<slot/>
    </dialog>
</template>

<script setup>
import {computed, ref} from 'vue';
const props = defineProps(['personObjectProp', 'modelValue'])
const emit = defineEmits(['click', 'update:modelValue']);



const model = computed({
  get:()=>props.modelValue,
  set:value=>emit('update:modelValue', value)
})

</script>

<style scoped>
dialog{
  position: absolute;
}
</style>