<template>
  <header>
    <nav class="navbar navbar-expand-sm bg-light">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link class="nav-link" to="/">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/create">Person anlegen</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <RouterView/>

</main>
</template>

<script setup>



</script>
