<template>
    <v-container>
        <div class="mapContainer">
            <v-row>
                <v-col cols="12" md="12">
                    <v-card>
                        <v-card-item>
                            <div id="map"/>
                        </v-card-item>
                        <v-card-item>

                        </v-card-item>

                        <v-card-item>
                            <v-col class="text-left">
                            <span class="text-h5 font-weight-light" v-text="radius"/>

                                <span class="subheading font-weight-light me-1">km</span>
                            </v-col>
                            <v-slider
                                v-model="radius"
                                max="100"
                                min="1"
                                step="1"
                            >
                            </v-slider>
                        </v-card-item>
                    </v-card>
                </v-col>
            </v-row>
        </div>
    </v-container>
    <v-dialog content-class="my-custom-dialog" v-model="showProjectDialog">
        <v-card class="ma-auto pa-2">
            <div class="d-flex justify-end">

            <v-btn icon class="cancel-button ma-1" @click="showProjectDialog = false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            </div>
                <open-offers-component @action="refreshMarkers" class="projectCard" v-if="project" :project="project" :directionsData="directionsData"/>
        </v-card>
    </v-dialog>

    <v-dialog content-class="my-custom-dialog" v-model="showProjectWithOffer">
        <v-card class="ma-auto pa-2">
            <div class="d-flex justify-end">

                <v-btn icon class="cancel-button ma-1" @click="showProjectWithOffer = false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </div>
                <my-offer-component @action="refreshMarkers" :offer="offer" :directionsData="directionsData"/>
        </v-card>
    </v-dialog>
</template>
<script setup>

import {Loader} from "@googlemaps/js-api-loader";
import {computed, onMounted, ref, watch} from "vue";
import {useAddressStore} from "@/store/addressStore";
import {useProjectsStore} from "@/store/projectStore";
import OpenOffersComponent from "@/components/OpenOffersComponent.vue";
import {useOfferStore} from "@/store/offerStore";
import MyOfferComponent from "@/components/MyOfferComponent.vue";

const showProjectWithOffer = ref(false)
const showProjectDialog = ref(false)
const routes = []
const markers = []
const offer = ref()
const project = ref()
const radius = ref(10)
const addressStore = useAddressStore()
const offerStore = useOfferStore()
const projectStore = useProjectsStore()
let map;
let mapCircle
let directionsRenderer;
let directionsService;
const directionsData = ref()

function debounce(func, wait) {
    let timeout;
    return function () {
        clearTimeout(timeout);
        timeout = setTimeout(func, wait);
    };
}

watch(
    radius,
    debounce(() => {
        // Call your function here
        mapCircle.setRadius(radius.value * 1000)
        map.fitBounds(mapCircle.getBounds());
        directionsRenderer?.setMap(null)
        addProjectMarkersToMap()
    }, 1000)
);

const mapsApiKey = 'AIzaSyCp0i8_XEfUwDiSvy8JvIPqOMqVLkoakFk'
const loader = new Loader({
    apiKey: mapsApiKey,
    libraries: ['places']
})

onMounted(async () => {
    await loader.load()
    await initMap()
    await clearMarkers
    await addProjectMarkersToMap()
});

function initMap() {
    const myLocationIcon = {
        url: "https://i.ibb.co/cDsZgJv/mylocation.png",
        scaledSize: new google.maps.Size(40, 40)
    };
    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: addressStore.address.latitude, lng: addressStore.address.longitude}, // Initial map center
        zoom: 11, // Initial zoom level
    });
    const myMarker = new google.maps.Marker({
        position: {
            lat: addressStore.address.latitude,
            lng: addressStore.address.longitude
        },
        icon: myLocationIcon,
        map: map
    });

    mapCircle = new google.maps.Circle({
        strokeColor: "#FF0000",
        strokeOpacity: 0.3,
        strokeWeight: 2,
        fillColor: "#FF0000",
        fillOpacity: 0.15,
        map: map,
        center: {
            lat: addressStore.address.latitude,
            lng: addressStore.address.longitude
        },
        radius: radius.value * 1000,
    });
}

async function refreshMarkers() {
    showProjectWithOffer.value=false
    showProjectDialog.value=false
    await offerStore.getOffersForCompany()
    await projectStore.getProjectsByTrade()
    addProjectMarkersToMap()
}


watch([showProjectWithOffer, showProjectDialog], ([newVal1, newVal2]) => {
    if (!newVal1 && !newVal2) {
        directionsRenderer?.setMap(null)
        map.fitBounds(mapCircle.getBounds());
    }
});

function addProjectMarkersToMap() {
    const projectIcon = {
        url: "https://i.ibb.co/R0M2HwF/new-project.png",
        scaledSize: new google.maps.Size(40, 40)
    }

    const waitingForResponseIcon = {
        url: "https://i.ibb.co/hH0bsQf/waiting-response.png",
        scaledSize: new google.maps.Size(40, 40)
    }

    const offerAcceptedIcon = {
        url: "https://i.ibb.co/bm4ZyZq/accepted.png",
        scaledSize: new google.maps.Size(40, 40)
    }

    const offerRejectedIcon = {
        url: "https://i.ibb.co/HFGYSgQ/rejected.png",
        scaledSize: new google.maps.Size(47, 47)
    }

    clearMarkers()
    projectStore.projectsWithoutOffers.forEach(object => {
        if(radius.value >  calculateDistance(addressStore.address.latitude, addressStore.address.longitude, object.addressDto.latitude, object.addressDto.longitude)) {
           const marker = new google.maps.Marker({
                position: {
                    lat: object.addressDto.latitude,
                    lng: object.addressDto.longitude
                },
                title: object.projectName,
               icon: projectIcon,
                map: map
            })
            marker.addListener("click", () => {
                getRoute(addressStore.address.latitude, addressStore.address.longitude, object.addressDto.latitude, object.addressDto.longitude)
                project.value = object
                showProjectDialog.value = true
            })
            markers.push(marker)
        }
    })

    offerStore.offersForCompany.offers.forEach(object => {
            const marker = new google.maps.Marker({
                position: {
                    lat: object.project.addressDto.latitude,
                    lng: object.project.addressDto.longitude
                },
                title: object.project.projectName,
                icon: object.offer.rejected ? offerRejectedIcon : (object.offer.accepted ? offerAcceptedIcon : waitingForResponseIcon ),
                map: map
            })
            marker.addListener("click", () => {
                getRoute(addressStore.address.latitude, addressStore.address.longitude, object.project.addressDto.latitude, object.project.addressDto.longitude)
                offer.value = object
                showProjectWithOffer.value = true
            })
            markers.push(marker)

    })
}

function getRoute(lat1, lng1, lat2, lng2) {
    directionsService = new google.maps.DirectionsService()
    directionsRenderer = new google.maps.DirectionsRenderer()

    directionsRenderer.setMap(map)
    const route = {
        origin: {lat: lat1, lng: lng1},
        destination: {lat: lat2, lng: lng2},
        travelMode: 'DRIVING'
    }
    directionsService.route(route, function(response, status) {
            if (status !== 'OK') {
                window.alert('Directions request failed due to ' + status);
                return;
            } else {
                directionsRenderer.setDirections(response)
                 directionsData.value = response.routes[0].legs[0];
            }
        })
    routes.push(route)
}


function calculateDistance(lat1, lon1, lat2, lon2) {
    let distance
    const earthRadius = 6371;

    const dLat = toRadians(lat2 - lat1)
    const dLon = toRadians(lon2 - lon1)

    const a =
        Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.cos(toRadians(lat1)) *
        Math.cos(toRadians(lat2)) *
        Math.sin(dLon / 2) *
        Math.sin(dLon / 2)
    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
    const calculatedDistance = earthRadius * c

    distance = calculatedDistance.toFixed(2);
    return distance
}
function toRadians(degrees) {
    return degrees * (Math.PI / 180);
}

function clearMarkers() {
    markers.forEach(marker => {
        marker.setMap(null);
    });
}


</script>

<style scoped>
#map {
    height: 600px;
    width: 100%;
}

.mapContainer {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px grey solid;
    justify-content: center;
}

.projectCard {
    width: 100%;
}

>>> .my-custom-dialog {
    position: absolute;
    top: 100px;
    right: -700px;
}

</style>
