<template>
    <v-container>
        <v-row>
            <v-col v-for="offer in offerStore.offersForCompany.offers" :key="offer.offer.offerId"
            cols="12"
            sm="3">
                <MyOfferComponent :offer="offer"/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup>
import {useOfferStore} from "@/store/offerStore";
import MyOfferComponent from "@/components/MyOfferComponent.vue"
const offerStore = useOfferStore()
</script>

<style scoped>

</style>
