<template>
    <div>
        <v-container>
            <v-row>
                <v-col cols="12" v-for="project in projectStore.projectsWithoutOffers"
                       :key="project.projectId"
                       sm="3" >
            <OpenOffersComponent :project="project"/>
                </v-col>
            </v-row>
        </v-container>
    </div>

</template>

<script setup>
import {onMounted, ref} from "vue";
import {useProjectsStore} from "@/store/projectStore";
import {useOfferStore} from "@/store/offerStore";

import OpenOffersComponent from "@/components/OpenOffersComponent.vue";

const projectStore = useProjectsStore()
const offerStore = useOfferStore()

function sendOffer(offer) {
    offer.companyId = companyStore.company.companyId
    offerStore.postOffer(offer)
    offerStore.offersByCompany.offeredProjects.push(offer.projectId)
}

</script>

<style scoped>

</style>
