<template>
    <form @submit.prevent="orderBasket">
        <v-card-item>
            <v-row>
                <v-col cols="6">
                    <v-text-field label="Straße" type="text" required variant="outlined"  maxlength="30"
                                  v-model="address.street"/>
                </v-col>
                <v-col cols="6">
                    <v-text-field label="Nummer" type="text" required variant="outlined" maxlength="30"
                                  v-model="address.number"/>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6">
                    <v-text-field label="Postleitzahl" type="text" required variant="outlined" maxlength="5"
                                  v-model="address.zip"/>
                </v-col>
                <v-col cols="6">

                    <v-text-field label="Stadt" type="text" required variant="outlined" maxlength="50" v-model="address.city"/>
                </v-col>
            </v-row>
            <v-row>
            <v-col cols="6">
                <v-text-field label="Land" type="text" required variant="outlined" maxlength="50" v-model="address.country"/>
            </v-col>
            </v-row>
        </v-card-item>
    </form>
</template>

<script setup>

import {ref} from "vue";
const emit = defineEmits(['submit'])
const address = ref({
    street: "",
    number: "",
    zip: "",
    city: "",
    country: ""
})

defineExpose({address})
// function orderBasket() {
//     emit('submit', address.value)
// }
</script>
