<template>
        <form @submit.prevent="save">
            <v-card-item>
                <h1 class="mb-4">Produkt</h1>

                <v-text-field label="Produktname" type="text" required variant="outlined" maxlength="255"
                               v-model="props.product.title"/>
                <v-text-field label="Produktbeschreibung" type="text" required variant="outlined" min="0"
                               v-model="props.product.description"/>
                <v-text-field label="Produktpreis" type="number" required variant="outlined" maxlength="12"
                               v-model.number="props.product.price" step="0.01"/>
                <v-text-field label="ProduktbildUrl" type="text"  variant="outlined" maxlength="2048"
                               class="mb-4" v-model="props.product.imageUrl"/>
                <v-btn type="submit" color="primary" block class="mb-2">Bestätigen</v-btn>

            </v-card-item>
        </form>
</template>

<script setup>

const emit = defineEmits(['save'])

async function save() {
    emit('save', props.product)
}

const props = defineProps({product: {
        type: Object,
        default: {}
    }})






</script>
