<template>
    <table class="table table-striped" >
        <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Geburtsjahr</th>
            <th class="text-end">Aktionen</th>
        </tr>
        </thead>
        <tbody v-if="props.persons.length !== 0">
        <tr v-for="person in persons">
          <td>{{ person.firstName }}</td>
          <td>{{ person.lastName }}</td>
          <td>{{person.birthYear}}</td>
          <td>
            <div class="d-flex gap-2 justify-content-end">
              <button type="button" class="btn btn-sm btn-primary" @click="router.push(`/details/${person.id}`)">
                Edit
              </button>
            </div>

          </td>
        </tr>
        </tbody>
      <tbody v-if="props.persons.length === 0">
      <tr>
        <td class="text-center" colspan="4">Keine Person gefunden</td>
      </tr>
      </tbody>
    </table>

</template>

<script setup>
    import {router} from "@/router";

    const props = defineProps({
      persons: Object
    });


</script>
