<template>
    <h1>Warenkorb</h1>
    <v-table class="mb-4">
        <thead>
        <tr>
            <th class="text-left">
                Menge
            </th>
            <th class="text-left">
                Produktname
            </th>
            <th class="text-left">
                Preis
            </th>
            <th class="text-left">
                Kommentar
            </th>
            <th class="text-left">
                Produkt bearbeiten
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(basketProduct, index) in basketStore.basket.items">
            <td>
                <v-text-field
                    style="width: 80px;"
                    min="0"
                    v-model.number="basketProduct.amount"
                    type="number"
                    :readonly="!isToggled[index]"/>
            </td>
            <td>{{productStore.products?.find((product) => product.productId === basketProduct.productId).title }}</td>
            <td>{{(basketProduct.amount * productStore.products?.find((product) => product.productId === basketProduct.productId).price).toFixed(2) }}€
            </td>
            <td>
                <v-text-field v-model="basketProduct.remark" :readonly="!isToggled[index]">

                </v-text-field>
            </td>
            <!--            <td>{{ basketProduct.remark }}</td>-->
            <td>
                <v-btn icon size="small" class="ma-1" color="red" @click="removeProductFromBasket(basketProduct)">
                    <v-icon icon="mdi-trash-can"></v-icon>
                </v-btn>
                <v-btn  color="primary" size="small" class="ma-1" icon @click="editBasket(index, basketProduct)">
                    <v-icon>{{ isToggled[index] ? 'mdi-content-save' : 'mdi-pencil' }}</v-icon>
                </v-btn>
            </td>
        </tr>
        <tr></tr>
        </tbody>
        <p class="mt-8 headline font-weight-bold">
            Summe ({{totalItems}} Artikel): {{totalPrice}}€
        </p>
    </v-table>
    <div v-if="basketStore.basket.items?.length" class="mt-8">
    <v-btn to="/checkout" v-if="basketStore.basket.items?.length" color="green">Zur Kassa gehen</v-btn>
    <v-btn @click="deleteBasket()" color="red">Warenkorb leeren</v-btn>
    </div>
    <v-snackbar v-model="showBasketChange" location="bottom end" :timeout="3000">
        Warenkorb angepasst
    </v-snackbar>
</template>

<script setup>
import {useBasketStore} from "@/store/basketStore";
import {computed, onBeforeMount, ref, watch, watchEffect} from "vue";
import {useProductStore} from "@/store/productStore";

const productStore = useProductStore()
const basketStore = useBasketStore()
const isToggled = ref([])
const showBasketChange = ref(false)
const totalItems = computed(()=> basketStore.basket?.items?.reduce((total, item) => total + item.amount, 0) ?? 0)
const totalPrice = computed(() => {
    let sum = 0;
    basketStore.basket?.items?.forEach(item => {
        const product = productStore.products.find(product => product.productId === item.productId);
        if (product) {
            sum += product.price * item.amount;
        }
    });
    return sum.toFixed(2);
});

onBeforeMount(async () => {
    await Promise.all([basketStore.getBasket, productStore.getProducts]);
});

watchEffect(() => {
    if (basketStore?.basket?.items?.length) {
        isToggled.value = Array(basketStore.basket.items.length).fill(false);
    }
});


async function deleteBasket() {
    await basketStore.deleteBasket()
}

function openConfirmDialog(deletedProduct) {
    product.value = deletedProduct
    confirmDialog.value = true
}

async function removeProductFromBasket(basketProduct) {
    await basketStore.deleteProductFromBasketById(basketProduct.productId)
}

async function editBasket(index, basketProduct) {
    if (!isToggled.value[index]) {
        isToggled.value[index] = true
    } else {
        await basketStore.editBasketItem(basketProduct)
        isToggled.value[index] = false
        showBasketChange.value = true


    }
}

</script>
