<template>
    <h1>Kassa</h1>
    <v-container justify-center align-center>
        <v-row>
            <v-col cols="6" >
                <h3 class="mb-4" v-if="!hasDifferentAddress">Rechnungsadresse</h3>
                <h3 class="mb-4" v-if="hasDifferentAddress">Adresse</h3>
                <AddressForm ref="childComponentBillingAddress" @submit="orderItem2"/>
                <v-switch v-model="deliveryType">
                    <template #label v-if="!deliveryType">
                        Lieferung
                    </template>
                    <template #label v-else>
                        Abholung
                    </template>
                </v-switch>
            </v-col>
            <v-col cols="6" v-if="!deliveryType && !hasDifferentAddress">
                <h3 class="mb-4">Lieferadresse</h3>
                <AddressForm ref="childComponentDeliveryAddress"/>
            </v-col>
        </v-row>
        <v-checkbox v-if="!deliveryType" label="Lieferadresse entspricht der Rechnungsadresse" v-model="hasDifferentAddress"></v-checkbox>
        <v-btn color="green" type="submit" @click="orderBasket">Bestellung abschicken</v-btn>
        <v-btn to="/basket" color ="primary">Zurück zum Warenkorb</v-btn>
    </v-container>
</template>

<script setup>
import AddressForm from "@/components/AddressForm.vue";
import {ref} from "vue";
import {useBasketStore} from "@/store/basketStore";
import router from "@/router";
const deliveryType = ref(false)
const basketStore = useBasketStore()
const hasDifferentAddress = ref(false)
const childComponentDeliveryAddress = ref()
const childComponentBillingAddress = ref()
const invoiceAddress = ref()
const deliveryAddress = ref
const shippingType = ref()
const editBasketObject = ref()

async function orderBasket() {
    if (!deliveryType.value && hasDifferentAddress.value) {
        deliveryAddress.value = childComponentBillingAddress.value.address
        invoiceAddress.value = childComponentBillingAddress.value.address
        shippingType.value = "delivery"

    } else if (deliveryType.value) {
        deliveryAddress.value = {}
        invoiceAddress.value = childComponentBillingAddress.value.address
        shippingType.value = "pickup"


    } else if (!deliveryType.value && !hasDifferentAddress.value) {
        invoiceAddress.value = childComponentBillingAddress.value.address
        deliveryAddress.value = childComponentDeliveryAddress.value.address
        shippingType.value = "delivery"

    }

     editBasketObject.value = {invoiceAddress: invoiceAddress.value,
         deliveryAddress: deliveryAddress.value,
         shippingType: shippingType.value}

    await basketStore.putBasket(editBasketObject.value)
    await basketStore.postBasket()
    await router.push("/")




}
</script>
