<template>
    <v-sheet
        class="mx-auto"
        elevation="8"
        max-width="100%">
        <v-slide-group
            v-model="model"
            class="pa-4"
            selected-class="bg-primary"
            multiple
            show-arrows>
            <v-slide-group-item v-if="productStore.products.length>0"
                                v-for="(product, index) in productStore.products" :key="index" >
                <v-card
                    color="grey-lighten-4"
                    class="ma-4"
                    height="500"
                    width="300">
                    <v-img
                        cover
                        src='@/assets/thing.jpg'
                        height="300"
                        class="mb-4"
                    />
                    <v-card-item>
                        <v-card-title>{{ product.title }}</v-card-title>
                    </v-card-item>
                    <v-card-text>{{ product.description }}</v-card-text>
                    <v-card-title>{{ product.price }} €</v-card-title>
                    <v-card-actions v-if="authStore.isAdmin">
                        <v-btn
                               color="orange"
                               @click="openEditDialog(product)">
                            Bearbeiten
                        <v-icon end icon="mdi-wrench"></v-icon>
                        </v-btn>
                        <v-btn class="ma-2 ml-auto" color="red" @click="openConfirmDialog(product)">
                            Löschen
                            <v-icon end icon="mdi-trash-can"></v-icon>
                        </v-btn>
                    </v-card-actions>
                    <v-card-actions v-if="authStore.isUser">
                        <v-btn color="primary" icon @click="decrementCounter(index)">
                            <v-icon>mdi-minus</v-icon>
                        </v-btn>
                        <p class="my-0 mx-2">{{ counters[index] }}</p>
                        <v-btn color="primary" icon @click="incrementCounter(index)">
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                        <v-btn color="green" @click="openAddItemToCartDialog(product, counters[index], index)">Hinzufügen</v-btn>
                    </v-card-actions>
                </v-card>
            </v-slide-group-item>
            <p v-else>
                Keine Produkte gefunden
            </p>
        </v-slide-group>
    </v-sheet>

    <v-dialog v-model="editDialog" width="20%">
        <v-card>
            <product-form @save="editProduct" :product="product"/>
            <v-card-actions>
                <v-btn color="primary" block @click="editDialog = false">Close Dialog</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog v-model="confirmDialog" max-width="400px">
        <v-card>
            <v-card-title>{{product.title}} </v-card-title>
            <v-card-text>
                Sind Sie sicher, dass Sie das Produkt löschen möchten?
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" text @click="deleteProduct(product.productId)">Löschen</v-btn>
                <v-btn color="primary" text @click="confirmDialog = false">Abbrechen</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="addItemToCartDialog" max-width="600px">
        <v-card>
            <v-text-field class="mt-1" label="Kommentar" type="text" required variant="outlined" maxlength="50"
                          v-model="productForCart.remark"/>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" text @click="addItemToCartDialog = false">Abbrechen</v-btn>
                <v-btn color="primary" text @click="addProductToBasket()">Bestätigen</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

</template>

<script setup>
import ProductForm from "@/components/ProductForm.vue";
import {onBeforeMount, ref, watchEffect} from "vue";
import {useAuthStore} from "@/store/authStore";
import {useProductStore} from "@/store/productStore";
import {useBasketStore} from "@/store/basketStore";


let index
const basketStore = useBasketStore()
const productStore = useProductStore()
const authStore = useAuthStore()
const productForCart = ref({
    productId: null,
    amount: null,
    remark:''
})
const product = ref({})
const editDialog = ref(false)
const confirmDialog = ref(false)
const model = ref()
const counters = ref([])
const showCart = ref(false)
const addItemToCartDialog = ref(false)
onBeforeMount(productStore.getProducts)
onBeforeMount(basketStore.getBasket)

watchEffect(() => {
        counters.value = Array(productStore?.products?.length).fill(0);

});


function openEditDialog(editedProduct) {
    product.value = editedProduct
    editDialog.value = true
}

async function editProduct(product) {
    try {
        await productStore.editProduct(product)
        editDialog.value = false
    } catch (err) {
        console.error(err)
    }
}
async function deleteProduct(productId) {
    await productStore.deleteProducts(productId)
    confirmDialog.value = false


}

function openConfirmDialog(deletedProduct) {
    product.value = deletedProduct
    confirmDialog.value = true
}

function incrementCounter(index) {
    counters.value[index]++;
}

function decrementCounter(index) {
    if (counters.value[index] > 0) {
        counters.value[index]--;
    }
}

function openAddItemToCartDialog(addedProduct, quantity, indexItem) {
    index = indexItem
    productForCart.value.productId = addedProduct.productId
    productForCart.value.amount = quantity
    addItemToCartDialog.value = true

}
async function addProductToBasket() {
    await basketStore.addProductToBasket(productForCart.value)
    addItemToCartDialog.value = false

    showCart.value = true
    counters.value[index] = 0
    index = ""
    productForCart.value.remark = '';





}

</script>
