<template>
    <v-table>
        <thead>
        <tr>
            <th class="text-left">
                Produktname
            </th>
            <th class="text-left">
                Produktbeschreibung
            </th>
            <th class="text-left">
                Produktpreis(in Euro)
            </th>
            <th class="text-left">
                Aktionen
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="product in productStore.products">
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <v-btn @click="openConfirmDialog(product)" color="red" size="small">Löschen</v-btn>
            <v-btn size="small" color="yellow" @click="openEditDialogue(product)">
                Produkt editieren
            </v-btn>
        </tr>
        </tbody>
    </v-table>
    <v-dialog v-model="editDialog" width="20%">
        <v-card>
            <product-form @save="editProduct" :product="product"/>
            <v-card-actions>
                <v-btn color="primary" block @click="editDialog = false">Close Dialog</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <div class="text-center">
        <v-dialog v-model="createDialog" width="20%">
            <v-card>
                <product-form @save="createProduct" :product="product"/>
                <v-card-actions>
                    <v-btn color="primary" block @click="createDialog = false">Close Dialog</v-btn>
                </v-card-actions>
            </v-card>

        </v-dialog>
        <v-btn size="large" color="primary" @click="openCreateDialogue()" class="mt-8">
            + Neues Produkt anlegen
        </v-btn>
    </div>

    <v-snackbar v-model="showUnknownError" location="bottom end">
        Ein unbekannter Fehler ist aufgetreten. Bitte versuchen Sie es später erneut.
    </v-snackbar>
    <v-dialog v-model="confirmDialog" max-width="400px">
        <v-card>
            <v-card-title>{{ product.title }}</v-card-title>
            <v-card-text>
                Sind Sie sicher, dass Sie das Produkt löschen möchten?
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" text @click="deleteProduct(product.productId)">Löschen</v-btn>
                <v-btn color="primary" text @click="confirmDialog = false">Abbrechen</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script setup>
import {useProductStore} from '@/store/productStore'
import {onBeforeMount, ref} from "vue";
import {isAxiosError} from "axios";
import ProductForm from "@/components/ProductForm.vue";


const product = ref({})
const productStore = useProductStore()
const showUnknownError = ref(false)
const showAdminWarning = ref(false)
const createDialog = ref(false)
const editDialog = ref(false)
const confirmDialog = ref(false)

onBeforeMount(productStore.getProducts)


async function createProduct(product) {
    try {
        await productStore.createProduct(product)
        createDialog.value = false
        product.value = ""

    } catch (err) {
        if (isAxiosError(err) && err.response?.status === 403) {
            return showAdminWarning.value = true
        }
        console.error(err)
        showUnknownError.value = true
    }
}

async function deleteProduct(productId) {
    await productStore.deleteProducts(productId)
    confirmDialog.value = false
}

async function editProduct(product) {
    try {
        await productStore.editProduct(product)
        editDialog.value = false
    } catch (err) {
        if (isAxiosError(err) && err.response?.status === 403) {
            return showAdminWarning.value = true
        }
        console.error(err)
        showUnknownError.value = true
    }
}

function openEditDialogue(editedProduct) {
    product.value = editedProduct
    editDialog.value = true
}

function openCreateDialogue() {
    product.value = {}
    createDialog.value = true
}

function openConfirmDialog(deletedProduct) {
    product.value = deletedProduct
    confirmDialog.value = true
}


</script>
