<template>
  <div class="container">
    <div class="col-sm-8 w-auto" style="background:#F8F8F8">
      <form id="myForm" @submit.prevent="addPerson()">
        <p class="fs-4 fw-bold m-3">Person anlegen</p>
        <div class="form-group">
          <label for="firstName">Vorname</label>
          <input type="text" class="form-control mt-1" v-model="firstName">
        </div>
        <div class="form-group mt-3">
          <label for="lastName">Nachname</label>
          <input type="text" class="form-control mt-1" v-model="lastName">
        </div>
        <div class="form-group mt-3">
          <label for="birthYear">Geburtsjahr</label>
          <input type="text" class="form-control mt-1" v-model.number="birthYear">
        </div>
        <button type="submit" class="btn btn-success mt-3">Hinzufügen</button>
      </form>
      <div class="mb-4">
        <p class="fs-4 fw-bold mb-4 mt-5">Aktionen</p>
        <button class="btn btn-danger m-1" @click="deleteAll()">Alles löschen</button>
        <button class="btn btn-danger" @click="deleteLast()">Letztes Element löschen</button>
      </div>
    </div>
  </div>

</template>

<script setup>
import {ref} from 'vue';

const newPersonArray = ref([]);
const firstName = ref();
const lastName = ref();
const birthYear = ref();
const emit = defineEmits(['update']);

function addPerson() {
  newPersonArray.value.push(createPerson(firstName.value, lastName.value, birthYear.value));
  emit('update', newPersonArray.value)

  firstName.value = "";
  lastName.value = "";
  birthYear.value = "";

}


function createPerson(firstName, lastName, birthYear) {
  return  {
    firstName: firstName,
    lastName: lastName,
    birthYear: birthYear,
    get age() {
      const difference = new Date().getFullYear() - this.birthYear;
      return difference;
    },
    set age(age) {
      const birthYear = new Date().getFullYear() - age;
      this.birthYear = birthYear;
    }
  };

}

function deleteAll() {
  newPersonArray.value = [];
  emit('update', newPersonArray.value)

}

function deleteLast() {
  newPersonArray.value.pop();
  emit('update', newPersonArray.value)

}

</script>

<style scoped>

</style>