<template>
  <div class="ml-1 col-4">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Alter</th>
      </tr>
      </thead>
      <tbody >
      <tr v-for ="person in props.personArray">
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
        <td>{{person.age}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</template>

<script setup>
import {ref} from 'vue';
const props = defineProps(['personArray']);


</script>

<style scoped>

</style>