<template>
    <v-app>

        <router-view v-if="authStore.isInitialized === true"/>
        <PageLoader v-else/>
    </v-app>
</template>

<script setup>
    import PageLoader from './components/PageLoader.vue'
    import { useAuthStore } from '@/store/authStore'

    const authStore = useAuthStore()
</script>
