<template>
    <v-container>
        <div class="bannerImage">
            <h1>{{statisticsStore.companiesByTrade.trade}}</h1>
        </div>
    <div class="companies">
        <v-row>
            <v-col
                v-for="company in statisticsStore.companiesByTrade"
                cols="12"
                sm="6"
            >
                <CompanyForOverviewComponent
                    :company="company"/>
            </v-col>
        </v-row>
        </div>
    </v-container>
</template>

<script setup>


import CompanyForOverviewComponent from "@/components/CompanyForOverviewComponent.vue";
import {useStatisticsStore} from "@/store/statisticsStore";
const statisticsStore = useStatisticsStore()
</script>

<style scoped lang="scss">
/*Hier wird das SCSS in variables importiert und entfernt den präfix variables (scheißerklärung)*/
@use "@/assets/styles/variables.scss" as *;
/*Utiliy klasse aus dem Key-value Store*/
@use "sass:map";
.bannerImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 20px;
    background: url('https://images.pexels.com/photos/193035/pexels-photo-193035.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center center;
}
h1{
    color: white;
}
.companies{
    margin-top: -50px;
    padding: 10px 10px;
    @media (min-width: map.get($grid-breakpoints, md)) {
        padding: 10px 100px;

    }
}

</style>
