<template>
    <v-container class="profileContainer">
        <div class="profileHeader">
            <div class="profileImageContainer">
                <img class="profileImage" :src="imageStore.getImage(profile.companyProfileUrl).value">
                <div v-if="userCanEdit" class="overlay">
                    <EditProfilePictureComponent @saveImage="saveCompanyProfileImage"/>
                </div>
            </div>

            <div class="profileHeaderContent">
                <h2>
                    {{ profile.companyDto.companyName }}
                </h2>
                <div v-if="!!profile.companyRating">
                    <div class="profileHeaderRating">
                        <v-icon icon="mdi-star"/>
                        <p><span> {{ profile.companyRating.toFixed(1) }}</span>/5</p>
                        <p> ({{ profile.numberOfRatings }} Bewertungen)</p>
                    </div>
                    <div class="chips">
                        <v-chip v-for="trade in profile.companyDto.trade">
                            {{ trade }}
                        </v-chip>
                    </div>
                </div>

                <div v-else class="profileHeaderRating">
                    <p> Noch keine Bewertungen</p>
                </div>
            </div>
        </div>

        <div class="profileBody">
            <div class="companyDescription">
                <h2>Platz für beschreibung</h2>
                BLABLABLA
            </div>
            <h2>PortfolioBilder</h2>
            <div class="portfolioPictures">
                <v-row>
                    <v-col
                        v-for="(imageUrl, index) in profile.portfolioImageUrls"
                        cols="4"
                        md="3"
                    >
                        <EnlargePictureDialogComponent
                            @deleteImage="deleteImage(imageUrl, index)"
                            :imageUrl="imageUrl"
                        :canEdit="userCanEdit"/>
                    </v-col>
                    <v-col
                        cols="4"
                        md="3"
                    >
                        <AddPortFolioPictureComponent
                            v-if="userCanEdit&&profile.portfolioImageUrls.length<=12"
                            @saveImage="saveImage"/>
                    </v-col>
                </v-row>
            </div>
            <div class="ratingsContainer">
                <h2> Bewertungen </h2>
                <CompanyProfileRatingsComponent v-for="rating in profile.ratingResponseDtos" :rating="rating"/>
            </div>
        </div>
    </v-container>
</template>

<script setup>
import AddPortFolioPictureComponent from "@/components/AddPortFolioPictureComponent";
import EnlargePictureDialogComponent from "@/components/EnlargePictureDialogComponent";
import CompanyProfileRatingsComponent from "@/components/CompanyProfileRatingsComponent";
import {useStatisticsStore} from "@/store/statisticsStore";
import {ref} from "vue";
import {useImageStore} from "@/store/imageStore";
import {useAuthStore} from "@/store/authStore";
import EditProfilePictureComponent from "@/components/EditProfilePictureComponent";

const statisticsStore = useStatisticsStore()
const imageStore = useImageStore()
const authStore = useAuthStore()
const profile = ref(statisticsStore.companyProfile)
const userCanEdit = ref(profile.value.companyDto.companyUserId === authStore.user?.userId)

async function saveImage(image) {
    await imageStore.postPortfolioImage(image, profile.value.companyDto.companyId)
}

async function deleteImage(imageUrl, index) {
    const imageId = parseInt(imageUrl.match(/\d+$/)[0]);
    await imageStore.deletePortfolioImage(imageId, index)
}

async function saveCompanyProfileImage(image) {
    console.log('test')
    await imageStore.postCompanyImage(image)
}


</script>

<style scoped lang="scss">
/*Hier wird das SCSS in variables importiert und entfernt den präfix variables (scheißerklärung)*/
@use "@/assets/styles/variables.scss" as *;
/*Utiliy klasse aus dem Key-value Store*/
@use "sass:map";

span {
    font-weight: bolder;
}

.profileContainer {
    margin-top: 10px;
    padding: 0 30px;
    @media (min-width: map.get($grid-breakpoints, md)) {
        padding: 0 150px;
        margin-top: 40px;
    }
}

.profileHeader {
    display: flex;
    align-items: center;
    margin: 20px 10px;
}

.profileImageContainer {
    position: relative;
}

.profileImage {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 9999px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0.47);
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.overlay:hover{
    background-color: white;
}

.profileHeaderContent {
    margin-left: 30px;
}

.profileHeaderRating {
    display: flex;
    flex-wrap: wrap;

}

.profileHeaderRating > * {
    padding: 0 5px;
}

.chips {
    margin-top: 5px;

}

.chips > * {
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.companyDescription {
    margin: 30px 0;
}

.portfolioPictures {
    margin: 20px 0;
    padding: 0 30px;
}
</style>
