<template>
    <form @submit.prevent="createCompany">
        <v-card-item>
            <h1 class="mb-4">Firma anlegen</h1>
            <v-alert color="error" class="mb-4" closable v-model="showRegisterNumberWarning">
                <p>Diese Firmenbuchnummer ist bereits vorhanden</p>
            </v-alert>
            <v-text-field label="Firmenname" type="text" required variant="outlined" maxlength="255"
                          autocomplete="company-name" v-model="company.companyName"/>
            <v-text-field label="Homepage" type="text"  variant="outlined" maxlength="30"
                          autocomplete="company-homepage" v-model="company.homepage"/>
            <v-text-field label="Firmenbuchnummer" type="number" required variant="outlined" min="1"
                          autocomplete="registration number" v-model.number="company.registerNumber"/>
            <v-combobox
                v-model="company.trades"
                :items="tradeStore.trades"
                label="Firmenbranche"
                multiple
                closable-chips
                chips
            ></v-combobox>
            <ImageUploadComponent @addPicture="savePicture" :label="'Profilbild(< 2MB)'"></ImageUploadComponent>
            <v-btn type="submit" color="primary" block class="mb-2">Weiter</v-btn>
            <v-snackbar v-model="showUnknownError" location="bottom end">
                Ein unbekannter Fehler ist aufgetreten. Bitte versuchen Sie es später erneut.
            </v-snackbar>
        </v-card-item>
    </form>
</template>

<script setup>
import {useRoute} from "vue-router";
import {computed, onBeforeMount, onMounted, ref} from "vue";
import {useCompanyStore} from "@/store/companyStore";
import {isAxiosError} from "axios";
import {useAuthStore} from "@/store/authStore";
import {useTradeStore} from "@/store/tradeStore";
import router from "@/router";
import ImageUploadComponent from "@/components/ImageUploadComponent"
import {useImageStore} from "@/store/imageStore";

const showRegisterNumberWarning = ref(false)
const showUnknownError = ref(false)
const companyStore = useCompanyStore()
const authStore = useAuthStore()
const tradeStore = useTradeStore()
const imageStore = useImageStore()

const companyImage=ref()

const company = ref({
    companyName: null,
    registerNumber: null,
    homepage: null,
    trades: null,
    userId: null
})
function savePicture(image){
    companyImage.value=image
}

async function createCompany() {
    company.value.userId = authStore.user.userId;
    try {
        await companyStore.createCompany(company.value, companyImage.value)
        await router.push('/address')
    } catch (err) {
        if (isAxiosError(err) && err.response?.status === 409) {
            return showRegisterNumberWarning.value = true
        }
        console.error(err)
        showUnknownError.value = true
    }
}



</script>
