<template>
    <v-card-item>
    <address-component :address="address" @update="createAddress">
        <template v-slot:title>
            <h1 class="mb-4">Adresse</h1>
        </template>
        <template v-slot:action>
            <v-btn type="submit" color="primary" block class="mb-2">Speichern</v-btn>
        </template>

    </address-component>
    </v-card-item>
</template>

<script setup>

import {ref} from "vue";
import router from "@/router";
import {useAuthStore} from "@/store/authStore";
import AddressComponent from "@/components/AddressComponent.vue";
import {useAddressStore} from "@/store/addressStore";



const address = ref({
    streetName: null,
    streetNumber: null,
    zip: null,
    city: null,
    country: null,
    latitude: null,
    longitude: null,
    userId: null,
    primaryAddress: null
})
const authStore = useAuthStore()
const addressStore = useAddressStore()


async function createAddress(createdAddress) {
    createdAddress.primaryAddress = true
    createdAddress.userId = authStore.user.userId;
    await addressStore.createAddress(createdAddress)
    await router.push('/')
}

</script>
