<template>


    <div class="searchBanner">
        <div class="shade">
            <v-container>
                <div style="margin-top: 200px">
                    <h1 style="color: white;">Holen Sie einfach und schnell Angebote von zuverlässigen Firmen ein.</h1>
                    <div
                        style="margin-top: 40px; display: flex; align-items: center; border-radius: 100px; overflow: hidden; background-color: white; max-width: 600px">
                        <v-autocomplete hide-details
                                        variant="plain"
                                        type="text"
                                        style="border-radius: inherit; background-color: white; border: none; padding: 10px 30px; width: 100%;"
                                        v-model="selectedTrade"
                                        :items="tradestore.trades"
                                        placeholder="Branche suchen"/>
                        <v-btn class="searchButton" style="flex-grow: 1;" :to="'/companies/'+ selectedTrade">
                            Search
                        </v-btn>
                    </div>
                </div>
            </v-container>
        </div>
    </div>
    <div class="stepsBanner">
        <v-container>
            <h1>
                Ganz einfach!
            </h1>
            <v-row>
                <landing-page-steps-component
                    number="1"
                    title="Auftrag erstellen"
                    text="Firma finden"/>

                <landing-page-steps-component
                    number="2"
                    title="Firmen stellen Angebot"
                    text="Angebote einholen"
                />
                <landing-page-steps-component
                    number="3"
                    title="Angebot auswählen"
                    text="Projekt durchführen lassen"
                />
            </v-row>
        </v-container>
    </div>
    <div class="tradeOverviewBanner">
        <v-container>
            <h1>
                Heiße Firmen in deiner Gegend!
            </h1>
            <v-row>
                <landing-page-trade-overview
                    v-for="trade in statisticsStore.companiesForHomeView.slice(0,3)"
                    :img-url="trade.bannerImageUrl"
                    :icon-name="trade.iconName"
                    :trade="trade.trade"
                    :total-number="trade.numberOfCompanies"
                    :worker-name="trade.trade+'-Firmen'"
                    :profileUrls="trade.sampleCompanyImgUrl"
                />
            </v-row>
        </v-container>
    </div>


    <div class="testimonialBanner">
        <v-container>
            <h1>Bereits bei KWOTE abgeschlossen:</h1>
            <v-carousel
                hide-delimiters
                :show-arrows="false"
                cycle
            >
                <v-carousel-item v-for="i in Math.ceil(ratingStore.sampleTestimonials.length/3)">
                    <v-row>

                        <landing-page-testimonial-card-component :testimonial="testimonial"
                                                                 v-for="testimonial in ratingStore.sampleTestimonials.slice((i-1)*3, i*3)"/>
                    </v-row>
                </v-carousel-item>
            </v-carousel>
        </v-container>
    </div>

    <div class="numbersBanner">
        <v-container>
            <v-row>
                <LandingPageNumbersComponent
                    name="Firmen"
                    :number="statisticsStore.statistics.companiesNumber"
                />
                <LandingPageNumbersComponent
                    name="Projekte"
                    :number="statisticsStore.statistics.projectsNumber"
                />
                <LandingPageNumbersComponent
                    name="Bewertungen"
                    :number="statisticsStore.statistics.ratingsNumber"
                />
            </v-row>
            <v-row>
                <v-col cols="12" class="justify-center">
                    <v-btn v-if="!authStore.isLoggedIn" to="/register">
                        Jetzt Projekt Anlegen
                    </v-btn>
                    <v-btn v-if="authStore.isUser" to="/my-projects">
                        Jetzt Projekt Anlegen
                    </v-btn>
                </v-col>
            </v-row>
        </v-container>
    </div>

    <div class="aboutBanner">
        <v-container>
            <h1>
                About
            </h1>
        </v-container>
    </div>

</template>
<script setup>
import {useTradeStore} from "@/store/tradeStore";
import {useStatisticsStore} from "@/store/statisticsStore";
import LandingPageTradeOverview from "@/components/LandingPageTradeOverview";
import LandingPageStepsComponent from "@/components/LandingPageStepsComponent"
import LandingPageTestimonialCardComponent from "@/components/LandingPageTestimonialCardComponent"
import LandingPageNumbersComponent from "@/components/LandingPageNumbersComponent"
import {useRatingStore} from "@/store/RatingStore";
import {useAuthStore} from "@/store/authStore";
import {onMounted, ref} from "vue";

const authStore = useAuthStore()
const ratingStore = useRatingStore()
const statisticsStore = useStatisticsStore()
const tradestore = useTradeStore()
const selectedTrade= ref(null)

</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;700&display=swap');


:deep(.v-field__input) {
    padding: 0;
    align-items: center;
}

h1 {
    padding-bottom: 20px;
}

.searchButton {
    border-radius: 100px;
    background-color: #00326d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
}

.searchBanner {
    font-family: 'Raleway', sans-serif;
    background-image: url(https://images.pexels.com/photos/3822843/pexels-photo-3822843.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.shade {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
    height: 100%;
}

.stepsBanner {
    background: linear-gradient(to top, #ffffff 0%, #00326d 10%, #00326d 90%, #000000 100%);
    padding: 6rem 0;
    font-weight: bolder;
    padding-bottom: 7rem;
}

.stepsBanner h1 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 50px;
}

.tradeOverviewBanner {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tradeOverviewBanner h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;

}

.testimonialBanner {
    padding-top: 40px;
    background: linear-gradient(0deg, #ffffff, #0d6256 2%, #0d6256 98%, #ffffff)
}

.testimonialBanner h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    color: white;

}

.numbersBanner {
    font-family: 'Raleway', sans-serif;
    margin: 0 100px;
}

.aboutBanner {
    border-top: 6px #8f8f8f solid;
    background-color: #F6F1F1;
}

:deep(.v-col) {
    display: flex;
}


</style>
