<template>
    <v-container>
        <div class="profileContainer">
            <div class="profileContainerBanner">

            </div>
            <div class="profileContainerContent">
                <div class="profileImageContainer">
                    <img class="profileImage" :src="imageStore.getImage(authStore?.user?.profileImageUrl).value">
                    <div class="overlay">
                        <EditProfilePictureComponent @saveImage="saveImage"/>
                    </div>
                </div>

                <v-row>

                    <v-col cols="0" md="4"/>
                    <v-col cols="12" md="8">
                        <h1 class="mb-4">Basisdaten</h1>

                        <v-btn @click="edit=!edit" v-if="edit">Bearbeiten
                            <v-icon icon="mdi-pencil-circle"/>
                        </v-btn>
                        <v-btn @click="editUserData() ; edit=!edit" v-else>Speichern
                            <v-icon icon="mdi-checkbox-marked"/>
                        </v-btn>
                        <v-text-field label="VorName" v-model="profile.firstName" :readonly="edit"></v-text-field>
                        <v-text-field label="NachName" v-model="profile.lastName" :readonly="edit"></v-text-field>
                        <v-text-field label="eMail" v-model="profile.email" readonly></v-text-field>
                    </v-col>
                </v-row>
                <v-row
                >
                    <v-col cols="0" md="4"/>
                    <v-col cols="12" md="8">
                        <!--                            <v-btn @click="editAddress=!editAddress" v-if="editAddress">{{address ? 'Bearbeiten' : 'Addresse Anlegen'}}<v-icon icon="mdi-pencil-circle"/></v-btn>-->
                        <!--                            <v-btn @click="(editAddress=!editAddress) && putAdress()" v-else>Speichern<v-icon icon="mdi-checkbox-marked"/></v-btn>-->
                        <address-component :address="address" @update="putAddress">
                            <template v-slot:title>
                                <h1 class="mb-4">Adresse</h1>
                            </template>
                            <template v-slot:action>
                                <v-btn type="submit" color="primary" block class="mb-2">Speichern</v-btn>
                            </template>
                        </address-component>
                    </v-col>
                </v-row>
            </div>
        </div>
    </v-container>
    <v-snackbar v-model="showEditAddress" location="bottom end">
        Änderung gespeichert
    </v-snackbar>
</template>

<script setup>
import {useAuthStore} from "@/store/authStore";
import {useImageStore} from "@/store/imageStore";
import {useAddressStore} from "@/store/addressStore";

const showEditAddress = ref(false)
const addressStore = useAddressStore()
const imageStore = useImageStore()
const authStore = useAuthStore()
const userStore = useUserStore()
import {useRoute} from "vue-router";
import {onMounted, ref} from "vue";
import AddressComponent from "@/components/AddressComponent.vue";
import {useUserStore} from "@/store/userStore";
import EditProfilePictureComponent from "@/components/EditProfilePictureComponent";


const route = useRoute()
const edit = ref(true)
const editAddress = ref(true)
const profile = ref(authStore.user)
const address = ref(addressStore.address || {})

async function saveImage(image) {
    await imageStore.postProfileImage(image)
}

async function editUserData() {
    await userStore.editOwnUserData()
}

async function putAddress(createdAddress) {
    createdAddress.primaryAddress = true
    createdAddress.userId = authStore.user.userId
    await addressStore.putAddress(createdAddress)
    showEditAddress.value = true
}

</script>

<style scoped lang="scss">
/*Hier wird das SCSS in variables importiert und entfernt den präfix variables (scheißerklärung)*/
@use "@/assets/styles/variables.scss" as *;
/*Utiliy klasse aus dem Key-value Store*/
@use "sass:map";


.v-row {
    padding: 20px;
}

.v-btn {
    margin: 5px;
}

.profileContainer {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px grey solid;
}

.profileContainerBanner {
    height: 150px;
    width: 100%;
    border-bottom: 4px black solid;
    //background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    background: linear-gradient(0.1turn, #00326d, #0d6256);
    //background: linear-gradient(to top right, rgb(16, 37, 119) 30%, rgba(0, 0, 0, 0) 110%);
    border-radius: 8px 8px 0 0;
}

.profileImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: clip;
    border-radius: 9999px;
    width: 250px;
    height: 250px;
    border: 5px white solid;
    background-color: #d3d3d3;
    margin-top: -102px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: map.get($grid-breakpoints, md)) {
        margin-left: 30px;
        margin-right: 0px;

        margin-bottom: -150px;
    }

}

.profileImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0.47);
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.overlay:hover{
    background-color: white;
}

</style>
